
html {
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  }

.white-nav {
  &:before {
    background-color: white;
  }
  .menu-btn {
    color: white;
    &:after {
      background-color: white !important;
    }
    &:hover {
      &:after {
        background-color: white !important;
      }
    }
  }
  ul {
    li {
      color: white;
    }
  }
}

.about-us {
  .banner {
    position: relative;
    // min-height: 570px;
    @include display-flex;
    @include align-items(flex-end);
    width: 100%;
    .particles-cont {
      width: 100%;
          padding: 0 4rem;
      // margin: 0 1.5rem;
      // padding: 0 2rem;
      // @include display-flex;
      // @include align-items(flex-end);
      // @include justify-content(space-between);
      margin-bottom: 2.5rem;
      h3 {
        // font-size: 1.8rem;
        font-size: 2rem;
        text-align: left;
        color: #fff;
        bottom: 2rem;
        // width: calc(100% - 465px);
        // padding: 1.5rem;
        // font-weight: 300;
        margin-bottom: 0;
        @media (max-width: 767px){
          font-size: 2rem;
        }
        @media (max-width: 577px){
          font-size: 1.5rem;
          font-weight: 400;
        }
      }
      @media (max-width: 991px){
        // padding: 5rem 0rem 3rem;
      }
      h4 {
        margin-bottom: 0;
        font-weight: 600;
        color: white;
      }
      a {
        color: white;
        text-decoration: underline;
      }
    }
    overflow: hidden;
    background-color: #5040b2;
    @include filter-gradient(#5040b2, #7969e6, horizontal); 
    @include background-image(linear-gradient(left, #5040b2 0%,#7969e6 100%));
  }
  .particles {
    height: 100%;
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // height: 100% !important;
      // width: calc(100% - 1.5rem) !important;
    }
  }
  // .right-cont {
  //   float: right;
  //   color: white;
  //   // padding: 1.5rem;
  //   h4 {
  //     margin-bottom: 0;
  //     font-weight: 600;
  //   }
  //   a {
  //     color: white;
  //     text-decoration: underline;
  //   }
  // }
}
.team-exp {
  padding: 4rem;
  position: relative;
  z-index: 1;
  @media (max-width: 991px){
    padding: 3rem;
  }
  .media {
    .media-body {
      font-size: 1.25rem;
      color: #565656;
      @media (max-width: 991px){
        font-size: 1.1rem;
      }
      h4 {
        color: #40404c;
      }
    }
    width: 55%;
    margin: auto;
    @include align-items(center);
    padding-bottom: 3.5rem;
    margin-bottom: 3.5rem;
    border-bottom: 1px solid gainsboro;
    &:last-of-type {
      border-bottom: none;
    }
    .media-left {
      margin-right: 1rem;
      width: 100px;
      height: 100px;
    }
    .media-right {
      margin-left: 1rem;
      width: 100px;
      height: 100px;
    }
    .media-heading {
      font-size: 1.7rem;
      font-weight: 600;
      margin-bottom: 1rem;
      @media (max-width: 991px){
        font-size: 1.6rem;
      }
    }
    .media-object {
      width: 100%;
      height: 100%;
    }
    @media (max-width: 991px){
      padding-bottom: 2.5rem;
      margin-bottom: 2.5rem;
    }
  }
}

.our-process {
  background-color: #3d3d3d;
  min-height: 550px;
  overflow: hidden;
  .swiper-pagination-bullets {
    top: 20%;
    font-weight: 600;
  }
  .swiper-container {
    margin: 0 3.5rem;
    padding: 0 2rem;
    height: 550px;
    overflow: visible;
    @media screen and (max-width: 991px) {
      margin: 0 0rem 0 3rem;
      padding: 0 2rem 0 0rem;
    }
    @media (max-width: 575px) {
      margin: 0 0rem 0 1rem;
      padding: 0 2rem 0 0rem;
    }
    .our-process-caption {
      position: absolute;
      right: 0;
      color: white;
      font-weight: 600;
      top: 2rem;
    }
  }
  .swiper-slide {
    text-align: left;
    font-size: 18px;
    color: #fff;
    @include display-flex;
    @include align-items(center);
    .swiper-heading {
      h3 {
        position: relative;
        font-weight: 600;
        @include transform(translateX(0px) translateY(-30px));
        opacity: 0;
      }
      .checkmark {
        position: relative;
        @include transform (rotate(35deg));
        display: inline-block;
        bottom: 10px;
        left: 0rem;
        opacity: 0;
        @include transition-delay(.1s);
        @include transition(all 10s ease-out);
        .checkmark_stem {
          position: absolute;
          width: 0px;
          height: 0px;
          background-color: transparent;
          left: 11px;
          bottom: 6px;
          @include transition-delay(.5s);
          @include transition(all .2s ease-out);
        }      
        .checkmark_kick {
          position: absolute;
          width: 0px;
          height: 0px;
          background-color: transparent;
          left: 5px;
          bottom: 3px;
          @include transition-delay(.8s);
          @include transition(all .3s ease-out);
        }
      }
      p {
        @include transition-delay(.5s);
        @include transition(all 1s ease-out);
        @include transform(translateX(0px) translateY(30px));
        opacity: 0;
        
      }
    }
    &.swiper-slide-active {
      h3 {
        opacity: 1;
        @include transition(all .8s ease-out);
        @include transform(translateX(0px) translateY(0px));
      }
      .checkmark {
        opacity: 1;
        .checkmark_kick {
          background-color: #fff;
          width: 10px;
          height: 4px;
          transition-delay: .65s;
        }
        .checkmark_stem {
          background-color: #fff;
          width: 4px;
          height: 17px;
          @include transition-delay(.8s);
        }
      }
      p {
        opacity: 1;
        @include transform(translateX(0px) translateY(0px));
      }
    }
    .swiper-body {
      padding-right: 3rem;
      padding-left: 3rem;
      float: left;
      width: 100%;
      &:after {
        content: '';
        display: table;
        clear: both;

      }
      h3 {
        display: inline-block;
        font-size: 2.7rem;
        @media screen and (max-width: 991px) {
          font-size: 2.3rem;
        }
      }
      p {

        color: #ababab;
        font-weight: 600;
        font-size: 1.9rem;
        line-height: 2.4rem;
        margin: 0;
        @media screen and (max-width: 991px) {
          font-size: 1.3rem;
        }
      }
    }
  }
  .swiper-pagination-bullet {
    color: white;
    width: auto;
    height: auto;
    background: transparent !important;
    font-size: 1.3rem;
    outline: none;
    /* &:after {
      content: '';
      left: 0;
      width: 0;
      top: calc(50% - 1px);
      height: 2px;
      background-color: white;
      display: block;
      position: absolute;
      @include transition(all .2s ease-out);
      @include transition-delay(700ms);
    } */
    /* &.swiper-pagination-bullet-active {
      position: relative;
      &:after {
        width: 100%;
      }
    } */
  }

  .swiper-container-vertical>.swiper-pagination-bullets {
    left: 10px;
    right: auto;
    // @include transform(translate3d(0,0,0));
  }
}

.technology-team {
  padding: 4rem;
  .section-caption {
    font-size: 1.9rem;
    font-weight: bolder;
    text-align: center;
  }
  .team-list {
    list-style: none;
    padding: 0;
    margin: auto;
    // display: table;
    li {
      float: left;
      text-align: center;
      // margin-right: 4rem;
      &:last-of-type {
        margin-right: 0;
      }
      .avatar {
        width: 195px;
        height: 195px;
        margin: 0rem auto;
        img {
          width: 100%;
          height: auto;
        }
      }
      h4 {
        margin: 0;
        line-height: 1.2rem;
        font-weight: 600;
        font-size: 1.4rem;
      }
    }
  }
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}

.text-slogan {
  a {
    text-decoration: none !important;
    @include transition(all .4s ease-out);
    &:hover {
      @include transform(scale(1.05));
    }
  }
  background-color: #f0e6dd;
  padding: 4rem;
  position: relative;
  min-height: 330px;
  &:after {
    display: table;
    content: '';
    clear: both;
  }
  .slg {
    color: #64615e;
    font-weight: 700;
    background-image: url(../img/icons/arr1.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    margin-bottom: 0;
    padding-bottom: 2.5rem;
    background-size: 32px;
    line-height: 2rem;
    font-size: 1.9rem;
    &:nth-of-type(odd){
      float: left;
      margin-left: 10rem;
    }
    &:nth-of-type(even){
      float: right;
      margin-right: 10rem;
      margin-top: 10rem;
    }
  }
}
.our-process .swiper-pagination-bullet:nth-of-type(1), .swiper-visited {
  color: white !important;
  opacity: 1 !important;
  position: relative !important;
  // &:after {
  //   width: 100% !important;
  // }
}

@media screen and (max-width: 1099px) { 
  .team-exp .media {
    width: 95%;
  }
  .about-us .banner .particles-cont {
    display: block;
   padding: 0rem 3rem 0rem 3rem;
    h3  {
      width: calc(100%);
    }
  }
}

@media screen and (max-width: 1060px) {
  .text-slogan .slg:nth-of-type(even) {
    margin-top: 6rem;
  }
}

@media (max-width: 991px){
  .about-us .banner .particles-cont {
    padding: 5rem 0rem 3rem;
        margin-bottom: 0;
    h3 {
      font-size: 1.7rem;
      padding: 0rem 2rem 0rem 2rem;
    }
  }
  .technology-team .team-list li {
    h4 {
      font-size: 1.2rem;
    }
    // margin-right: 2rem;
    .avatar {
      width: 174px;
      height: 174px;
    }
  }
}

.about-right-elm {
  text-align: center;
}

@media (max-width: 767px){

  .about-right-elm {
    text-align: right;
        margin-bottom: -30px;
    // position: absolute;
    // right: 1rem;
    // bottom: -70px;
  }

  .our-process {
    .swiper-container-vertical > .swiper-pagination-bullets {
      left: 0px;
    }
    .swiper-slide {
      text-align: center;
      padding-left: 2rem;
      padding-top: 3rem;
    }
    .swiper-container .our-process-caption {
      left: 0;
      margin: auto;
      text-align: right;
      right: 1rem;
      font-style: italic;
    }
  }

  .about-us .banner .particles-cont {
    // h3  {
    //   text-align: center;
    // }
    h4 {
      display: none;
    }
  }
  .about-us .right-cont {
    float: none;
    margin: auto;
    display: table;
  }
  .team-exp .media{
    width: 100%;
    @include flex-direction(column);
    &.md-right {
      @include flex-direction(column-reverse);
    }
    .media-body {
      text-align: center;
      .media-heading {
        margin-top: 1rem;
      }
    }
    &:last-of-type {
      padding-bottom: 0rem;
      margin-bottom: 0rem;
    }
  }
  .our-process .swiper-slide .swiper-body {
        padding-right: 0;
      padding-left: 0;
  }
  .technology-team .team-list li {
    // float: none;
    // margin-right: 0;
  }
  .text-slogan .slg {
    margin-right: auto !important;
    margin-left: auto !important;
    float: none !important;
    display: table !important;
    // margin-bottom: 4rem !important;
    &:last-of-type {
      margin-bottom: 0 !important;
    }
  }
}

@media (max-width: 575px) {
  .our-process {
    .swiper-container .our-process-caption {
      // text-align: center;
    }
    .swiper-slide {
      text-align: left;
      padding-left: 3rem;
      .swiper-body {
        h3 {
          font-size: 1.875rem;
        }
        p {
          line-height: 1.4;
          font-weight: 400;
          font-size: 1.2rem;
        }
      }
    }
  }
}


#ourProcess .swiper-pagination-bullet {
  @include transition(all 1s ease-out);
}

/* #ourProcess .swiper-pagination-bullet {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  @include animation(zoomin 1s infinite);
}

@-webkit-keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
}
@keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
} */