.page {
  &.contact {

    // .overlay-bg {
    //   height: 100%;
    //   background: #F7EBE2;
    //   top: 0;
    //   position: absolute;
    //   width: 50%;
    //   // height: 100%;
    //   z-index: -9;
    // }
    .page-caption {
      margin: 7rem 0 2rem;
      /* @media (max-width: 767px){
         margin: 4rem 0 4rem;
      } */
      h1 {
        text-align: left;
        font-size: 2.5rem;
        padding: 0 2rem;
        text-transform: uppercase;
        font-weight: 700;
        /* float: none; */
        position: relative;
        @media (max-width: 575px){
          padding: 0;
        }
      }
      p {
        position: relative;
        right: 0;
        font-size: 1.2rem;
        color: #848484;
        padding: 0 2rem;
        @media (max-width: 575px){
          padding: 0;
        }
      }
    }
    .contact-form {
      width: 100%;
      padding: 0 3rem;
      @media (max-width: 575px){
        padding: 0 15px;
      }
      .form-group {
        &.row {
          // margin-bottom: 2.8rem;
          // border-bottom: 1px solid #ced4da;
          .form-control {
            height: calc(2.25rem + 8px);
          }
          .col-form-label {
            font-size: .875rem;
            font-weight: 600;
            display: flex;
            align-items: center;
          }
          textarea {
            height: 8rem !important;
          }
        }
      }
    }
    .overlay-bg {
      background: #F7EBE2;
      padding-top: 7rem;
      @media (max-width: 767px){
        padding-top: 3rem;
      }
    }
    .address-section {
      position: relative;
      padding: 0 3rem;
      z-index: 99;
      margin-bottom: 3rem;
      @media (max-width: 767px){
        padding: 0;
      }
      .contact-visual {
        width: 90%;
        @media (max-width: 767px){
          max-width: 100%;
          margin-top: 1rem;
        }
        img {
          width: 100%;
        }
      }
      h2 {
        font-weight: 900;
        font-size: 1.8rem;
        margin-bottom: 0;
        white-space: nowrap;
        @media (max-width: 575px){
          font-size: 1.6rem;
        }
        span {
          font-weight: 400;
          font-size: 1.2rem;
          color: #848484;
        }
      }
      h4 {
        max-width: 90%;
        font-size: 1.125rem;
        color: material-color("grey", "700");
      }
      /*@media (max-width: 575px){
        padding-top: 3rem;
        .singapore-address.head-office {
          margin: 0 !important;
        }
        .singapore-address {
          background-size: 100%;
          padding: 0;
          &:first-of-type {
              height: 148px !important;
              background-position: bottom left;
          }
          &.head-office{
            margin-top: 3rem !important;
            height: 200px !important;
          }
          &.kochi-center {
            height: 182px !important;
          }
        }
      }*/
      // height: 100%;
      /*.singapore-address {
        height: 250px;
        background: url('../img/contact-locations/singapore.png');
        background-repeat: no-repeat;
        background-size: 89%;
        background-position: center left;
        padding: 0 2rem;
        z-index: 99;
        h2 {        
          text-align: right;
          font-weight: 900;
          font-size: 1.8rem;
          margin-bottom: 0;
          white-space: nowrap;
          @media (max-width: 575px){
            font-size: 1.6rem;
          }
          span {
            font-weight: 400;
            font-size: 1.2rem;
            color: #848484;
          }
        }
        h4 {
          font-size: 21px;
          color: #848484;
        }
        &.kochi-center {
          height: 250px;
          background: url('../img/contact-locations/kochi.png');
          background-repeat: no-repeat;
          background-size: 80%;
          background-position: bottom left;
          margin-top: 3rem;
          @media (max-width: 575px){
            background-size: 100%;
          }
        }
        &.head-office {
          background: url('../img/contact-locations/bangalore.png');
          background-repeat: no-repeat;
          background-size: 75%;
          background-position: bottom right;
          margin-bottom: 5rem;
          margin-top: 2rem;
          @media (max-width: 575px){
            background-size: 100%;
          }
        }
      }*/
    }
  }
}