.page {
  &.home {
    .mask-text {
      height: 532px;
    }
    .slide-box {
      .row {
        @include justify-content(center);
      }
    }

    @media screen and (max-width: 1335px) {
      .slide-box .slide-img {
        width: 25% !important;
      }
      .slide-img.arrow-box,.blank-box {
        display: none !important;
      }
    }

    @media (max-width: 991px){
      .rocket-wrp {
        display: none;
      }
      .more-about .more-about-us {
        margin-top: 4rem !important;
        margin-left: 0 !important;
        padding: 0 3rem;
        h4 {
          width: 100% !important;
          font-size: 1.5rem !important;
        }
      }

      .banner {
        .jumbotron {
          padding: 5rem 2rem 6rem !important;
        }
        height: auto !important;
        .banner-caption {
          width: 100% !important;
        }
        .banner-main-img {

        }
      }
      .slides .slide-box {
        .slide-img {
          width: 50% !important;
        }
      }
      .slide-img.arrow-box,.blank-box {
        display: none !important;
      }
    }

    @media (max-width: 767px){

      .our-works .thumbnail {
        .thumbnail-top-section {
          z-index: 1;
        }
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.44);
    z-index: 0;
        }
        .thumbnail-top-section {
          height: calc(100% - 2rem);
          @include display-flex;
          @include flex-direction(column);
          @include justify-content(space-between);
        }
        .caption {
          display: none;
        }
        .small-caption {
        }
      }

      .more-about-us {
        .col-sm-12 {
          &:first-of-type {
            .core-about {
              margin-top: 2rem !important;
            }
          }
          &:last-of-type {
           .core-about {
             margin-bottom: 4rem !important;
           }
         }
       }
     }
     .section-intro .jumbotron .intro-title .animated-text {
      .intro-text {
        left: 0 !important;
        right: 0 !important;
        margin: auto !important;
        width: 100%;
        clear: both;
      }
      .particles-wrapper {
        text-align: center !important;
        width: 100%;
        left: 0;
        top: 0;
        transform: translateY(0);
      }
    }
    .team-description-wrp {
      padding: 0 !important;
    }

    .team-description {
      padding-top: 1.5rem !important;
      padding-bottom: 3rem;
      padding-left: 0 !important;
      width: 100%;
    }

    .company-logos {
      ul {
        @include flex-wrap(nowrap);
        @include justify-content(unset !important);
        overflow: auto;
        li {
          float: left;
          padding: 1rem 0;
        }
      }
    }

    .core-about {

      @include display-flex;
      padding: 0 1rem;
      margin-top: 1.5rem !important;
      .icon {
        margin-right: .7rem;
        &+.font-weight-bold {
          margin-top: 0 !important;
          line-height: normal;
        }
      }
      .text p {
        font-size: 1rem !important;
        text-align: left;
      }
    }
    .banner {
      .jumbotron {
        h1 {
          text-align: center !important;
          font-size: 2rem;
          font-weight: 600 !important;
        }
      }
    }
    .mask-wrp {
      display: none;
    }
  }
  section {
    @media (max-width: 767px){
      height: auto !important;
    }
  }
  .slides {
    .slide-box .slide-img span {
      width: 100px;
      img {
        width: 100% !important;
        height: auto;
      }
    }
  }
  

  .banner {
    background-color: rgb(220,0,40);
    @include filter-gradient(#dc0028, #e74e7a, horizontal);
    @include background-image(linear-gradient(left, rgb(220,0,40) 0%,rgb(231,78,122) 100%));
    .jumbotron {
      h1 {
          // font-size: 2.18rem;
          text-align: left;
          color: #fff;
          font-weight: 600;
          margin: 0;
          @media (min-width: 1600px) { 
            font-size: 4rem;
          }
          @media (min-width: 1921px) {
            font-size: 5rem;
          }
          // opacity: 0;
          // @include transform(translateX(-15px));
        }
        img {
          max-width: 100%;
          max-height: 100%;
          margin: auto;
          // opacity: 0;
          // @include transform(translateX(15px));
        }
        

      }
      @keyframes scroll {
        0%{opacity:1; @include transform (translateY(0))}
        100%{opacity:0; @include transform (translateY(15px))}
      }
      .scroll-icon {
        position: absolute;
        bottom: 1.5rem;
        left: 50%;
        @include transform(translateX(-50%));
        font-size: 0.875rem;
        @include keyframes(scroll) {
          0% { @include transform(translateY(5px)) }
          50% { @include transform(translateY(10px)) }
          100% { @include transform(translateY(5px)) }  
        }
        .scroll-down {
          display: block;
          width: 24px;
          height: 32px;
          @include border-radius(12px);
          border: 1px solid material-color("grey", "200");
          text-align: center;
          &:after {
            display: block;
            margin: auto;
            width: 4px;
            height: 8px;
            background-color: material-color("grey", "200");
            @include border-radius(50%);
            content: "";
            @include animation(scroll 1.3s ease-out infinite forwards);
          }
        }
      }
    }
    .team {
      padding: 0 3rem;
      position: relative;
      .team-description {
        padding-top: 4rem;
        padding-left: 3rem;
        h3 {
          font-size: 2.25rem;
          font-weight: bolder;
          @media (min-width: 1200px){
            font-size: 2.5rem;
          }
          @media (min-width: 1600px){
            font-size: 3.5rem;
          }
        }
        p {
          font-size: 1.375rem;
          color: material-color('grey','700');
          // line-height: 2rem;
          @media (min-width: 1200px){
            font-size: 1.5rem;
            font-weight: 400;
          }
          @media (min-width: 1600px){
            font-size: 2rem;
            font-weight: 400;
          }
        }
        a {
          text-transform: uppercase;
          color: material-color('grey','900');
          font-size: 1rem;
          font-weight: 600; 
          text-decoration: none;
          @media (min-width: 1200px){
            font-size: 1.125rem;
          }
          @media (min-width: 1600px){
            font-size: 1.5rem;
          }
        }
        
      }
      h1 {
        background-image: url(../img/text-bg.jpg);
        @include background-clip (text);
        color: transparent;
        font-size: 435px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        font-weight: bolder;
        position: absolute;
        top: 2.1875rem;
        bottom: 0;
        height: 600px;
      }
      .text-mask {
        background-image: url(../img/text-bg.jpg);
        color: transparent;
        background-position: -50% center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        overflow: hidden;
        position: absolute;
        bottom: 5rem;
        left: 3rem;
        height: 18rem;
        img {
          height: 18rem;
          display: block;
        }
      }
      &:after {
        content: '';
        width: 1070px;
        height: 532px;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #F7F7F7;
        z-index: -9;;
      }
    }
    
    .slides {
      .slide-box {
        .slide-img {
          width: 268px;
          height: 150px;
          padding: 0;
          margin: 0;
          overflow: hidden;
          display: flex;
          position: relative;
          align-items: center;
          justify-content: center;
          @include transition (all .5s);
          span{
            @include transition (all .5s);
            &:first-of-type {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              bottom: 0;
              @include transition (all .8s);
              &.android {
                background: #73b732; 
              }
              &.angular {
                background: #d85167;
              }
              &.m-net {
                background: #7867e4;
              }
              &.python {
                background: #f98b56; 
              }
            }
            &:last-of-type {
              z-index: 999;
            }
          }
          
          &.blank-box {
            width: 145px;
            height: 150px;
          }
          &.arrow-box {
            align-items: center;
            width: 100px;
            height: 147px;
            display: flex;
            justify-content: center;
            a {
              font-size: 1.5rem;
              color: #000;
            }
          }
          &:hover {
            span {
              &:first-of-type {
                @include transform (scale(1.3) !important);
                // z-index: 99;
              }
            }
          }
        }
      }
    }
    
    
    @-webkit-keyframes MOVE-BG {
      from {
        background-position: 415px 354px;
      }
      to { 
        background-position: 415px 74px
      }
    }
    @keyframes MOVE-BG {
      from {
        background-position: 415px 354px;
      }
      to { 
        background-position: 415px 74px
      }
    }
    .more-about{
      .bg-blue {
        background: url("../img/more-about-bg.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        overflow: hidden;
      }
      .bg-rocket {
        position: absolute;
        right: 25%;
        height: 100%;
        img {
          height: 100%;
        }
      }
      .more-about-us {
        margin-top: 10rem;
        h4 {
          font-size: 1.375rem;
          width: 76%;
          line-height: 1.5;
          margin-bottom: 1rem;
          color: material-color('grey','700');
          @media (min-width: 1200px){
            font-size: 1.5rem;
            font-weight: 400;
          }
          @media (min-width: 1600px){
            font-size: 2rem;
            font-weight: 400;
          }
        }
        a {
          font-size: 1rem;
          font-weight: 600; 
          text-decoration: none;
          color: material-color('grey','900');
          @media (min-width: 1200px){
            font-size: 1.125rem;
          }
          @media (min-width: 1600px){
            font-size: 1.5rem;
          }
        }
        .core-about {
          .text {
            p {
              font-size: .8125rem;
            }
          }
          .icon {
            img {
              width: 40px;
            }
          }
        }
      }
    }
    
    .our-works {
      background: #f7f7f7;
      .section-header {
        padding: 2.5rem 0;
        text-align: center;
        h3 {
          font-size: 2.5rem;
          font-weight: 800;  
        }
        p {
          width: 53%;
          margin: 0px auto;
          font-size: 15px;
          color: #6B6B6B;
        }
      }
      .thumbnail {
        .goto-detail {
          position: absolute;
          z-index: 1;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
        }
        .thumbnail-top-section {
          position: absolute;
          left: 3.5rem;
          top: 1rem;
        }
        .thumbnail-logo {
          height: 25px;
          margin-bottom: .3rem;
          img {
            width: auto;
            height: auto;
          }
        }
        @include transition (all .5s);
        .small-caption {
          color: white;
          font-size: .8rem;
          letter-spacing: .03rem;
        }
        .caption {
          bottom: 1rem;
          left: 3.5rem;
          @include transition (all .5s);
          p {
            margin-bottom: 0px;
            color: #fff;
            font-size: 1rem;
            letter-spacing: 1.2px;
            font-weight: 600;
            position: relative;
            top: 1rem;
            left: 5;
            opacity: 0;
            @include transition (all .5s);
          }
          h3 {
            font-size: 2rem;
            font-weight: 800;
            position: relative;
            left: 0;
            @include transition (all .5s);
            color: #fff;
            @include text-shadow(0 1px 2px rgba(0,0,0,0.3));
            @media (max-width: 991px){
              font-size: 1.5rem;
            }
          }
          &::before {
            content: '';
            width: 0px;
            position: absolute;
            height: 0px;
            background: #fff;
            bottom: 42px;
            margin-left: -38px;
            transform: rotate(103deg);
            @include transition (all .5s);
          }
        }
        &:hover {
          .caption {
            h3 {
              position: relative;
              left: 5px;
            }
            p {
              opacity: 1;
              top: 0;
              left: 5px;
            }
            &::before {
              content: '';
              width: 55px;
              position: absolute;
              height: 1px;
              background: #fff;
              bottom: 42px;
              margin-left: -38px;
              transform: rotate(103deg);
            }
          }
        }
      }
      .more-projects {
        font-size: .9375rem;
        font-weight: 700;
        color: #212529;
        text-decoration: none;
      }
    }
    
    .company-logos {
      ul {
        li {
          img {
            width: 160px;
          }
        }
      }
    }
  }
}