.section-intro {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  // background-color: #F3E7DF;
  background-color: material-color("blue", "900");
  .jumbotron {
    .intro-title {
      position: relative;
      font-size: 2.2rem;
      // height: 52px;
      .fixed-span {
        display: block;
        color: white;
        // color: material-color("blue", "200");
        // float: left;
        padding-right: 1rem;
        font-weight: 700;
      }
      .animated-text {
        // width: 14.6rem;
        display: block;
        position: relative;
        // float: left;
        font-weight: 600;
        color: material-color("blue", "200");
        font-size: 1.875rem;
        @media (max-width: 575px){
          font-size: 1.75rem;
        }
        .particles-wrapper {
          position: absolute;
          width: 400px;
          height: 200px;
          left: -50px;
          top: 50%;
          @include transform(translateY(-50%));
        }
        .intro-text {
          // position: absolute;
          // left: 0;
          // top: 0;
          @include transition(0.3s);
          color: white;
          &.inverted {
            color: white;
            @include transition(0.3s);
          }
        }
        span {
          display: block;
          opacity: 0;
          // line-height: 1;
          float: left;
          // display: block;
          // position: relative;
          // opacity: 0;
          // float: left;
          @media (max-width: 575px){
            width: 100%;
            text-align: center;
          }
        }
        i {
          display: block;
          margin: 0 1rem;
          opacity: 0;
          float: left;
          font-style: normal;
          @media (max-width: 575px){
            width: 100%;
            text-align: center;
            margin: 0;
          }
          // font-size: 1.5rem;
          // line-height: 1;
        }
      }
    }
  }
}