html, body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  &.intro {
    overflow: hidden;
  }
}
body {
  overflow-x: hidden;
  &.intro {
    overflow: hidden;
  }
}
.sidenav {
  // width: 0;
  @include transform(translateX(-100%));
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  overflow: hidden;
  @include transition(0.5s);
  // @include border-top-right-radius(25%);
  // @include border-bottom-right-radius(25%);
  @include opacity(0);
  ul {
    li {
      display: block;
      opacity: 0;
      a {
        padding: 8px 8px 8px 2rem;
        text-decoration: none;
        font-size: 1.86rem;
        color: #000;
        display: block;
        transition: 1s;
        // text-transform: uppercase;
        text-align: left;
        line-height: 4rem;
        font-weight: 700;
        position: relative;
        &::after {
          content: '';
          width: 0px;
          height: 1px;
          top: 40px;
          margin-left: 40px;
          position: absolute;
          @include transition (all .1s);
          @include transition-delay (.1s);
          background: #000;
        }
        &::before {
          content: '';
          width: 0px;
          height: 1px;
          top: 40px;
          left: -75px;
          position: absolute;
          @include transition (all .1s);
          background: #000;
        }
      }
      &:hover {
        a {
          color:#d4d4d4;
          &::after {
            // content: '';
            width: 160px;
            @include transition(.1s);
            // height: 1px;
            // position: absolute;
            // top: 40px;
            // margin-left: 40px;
            @include transition-delay (.3s);
          }
          &::before {
            content: '';
            @include transition(.1s);
            width: 40px;
            // height: 1px;
            // background: #000;
            // position: absolute;
            // top: 40px;
            left: -35px;
          }
        }
      }
    }
  }
  // &.open {
  //   padding: 2.75rem 8rem;
  //   width: 100%;
  //   @include border-top-right-radius(0%);
  //   @include border-bottom-right-radius(0%);
  //   @include transform(translateX(0));
  // }
  .page-description {
    // float: right;
    position: relative;
    right: 0;
    width: 100%;
    ul {
      list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;
      li {
        display: none;
        opacity: 1;
      }
    }
    h4 {
      font-size: .9375rem;
      font-weight: 700;
      margin-bottom: .2rem;
    }
    p {
      font-size: .8125rem;
    }
  }
}
.nav-open {
  overflow: hidden;
  .sidenav {
    @include opacity(1);
    padding: 2.75rem 8rem;
    // width: 100%;
    // @include border-top-right-radius(0%);
    // @include border-bottom-right-radius(0%);
    @include transform(translateX(0));
    @media (max-width: 767px) { 
      padding: 0 6rem;
      ul li a {
        font-size: 1.5rem;
      }
    }
  }
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 1.56rem;
  font-size: 2.25rem;
  margin-left: 3.125rem;
}


@media (max-width: 767px){
.nav-open {
    .menu-btn {
      &:after {
        display: none !important;
        opacity: 0;
      }
      & + i.ion-close-round {
        bottom: 1.22rem;
        color: white;
        z-index: 0;
        font-size: 1.25rem;
        left: 40% !important;
      }
    }
  }
}


@media (max-width: 767px){
  

  .sidenav ul li a {
    font-size: 1rem;
    padding: 0;
    line-height: 3rem;
    &:before, &:after {
      display: none;
    }
  }

  .page-description {
    display: none;
  }


    .nav-btn {
      .menu-btn {
        opacity: 1 !important;
        position: relative;
        text-indent: -9999px;
        bottom: 0 !important;
        background-color: rgba(0, 0, 0, 0.43) !important;
        width: 38px !important;
        height: 38px;
        @include border-radius(3px);
        &:before {
          display: none !important;
        }
        &:after {
          color: white;
          display: block !important;
          content: "\f20e" !important;
          font-family: "Ionicons";
          width: 100%;
          background-color: transparent !important;
          text-indent: 0px;
          left: 8px !important;
          bottom: -2px !important;
          // transform: translateX(0) !important;
          font-size: 2rem;
          line-height: 0;
        }
        &:hover {
          &:after {
            bottom: 16px !important;
          }
        }
      }
  }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: .9375rem;}
  .sidenav a {font-size: 1.125rem;}
}
nav {
  &.navbar {
    position: fixed;
    z-index: 9999;
    .navbar-brand {
      img  {
        width: 2.81rem;
      }
    }    
  }
  &.inverted {
    .menu-btn {
      color: white;
      &:after{
        background-color: white;
      }
      &:hover {
        &:after{
          background-color: white;
        }
      }
    }
  }
}
.nav-btn {
  position: fixed;
  left: -1px;
  top: 0;
  z-index: 99999;
  padding: 1rem;
  cursor: pointer;
  i {
    display: none;
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    position: absolute;
    font-size: 1.5rem;
    // @include transform(translateX(-50%));
    z-index: -1;
  }
  .menu-btn {
    overflow: hidden;
    @include transition(0s);
    background: transparent;
    word-wrap: break-word;
    text-transform: uppercase;
    width: 20px;
    white-space: inherit;
    padding: 0;
    text-orientation: upright;
    font-size: 1rem;
    outline: none !important;
    font-weight: 700;
    box-shadow: none !important;
    &:after{
      content: '';
      width: 2px;
      height: 20px;
      background-color: #000;
      // @include transform(translateX(-50%));
      position: absolute;
      left: 50%;
      bottom: -6px;
    }
    &:hover {
      &:after{
        width: 20px;
        height: 2px;
        background-color: #000;
        position: absolute;
        // @include transform(translateX(-50%));
        left: 33%;
        bottom: 10px;
      }
    }
    &:before {
      @include transition(0.5s);
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: material-color("grey", "200");
      z-index: -1;
      opacity: 0;
    }
  }
  &.inverted {
    .menu-btn {
      color: white;
      @include transition(0.5s);
      &:after{
        background-color: white;
      }
      &:hover {
        &:after{
          background-color: white;
        }
      }
    }
  }
  &.scrolled {
    .menu-btn {
      @include transition(0.5s);
      &:after{
        display: none;
      }
      &:before {
        @include transition(0.5s);
        opacity: 1;
      }
    }
  }
}
.nav-open {
  .nav-btn {
    .menu-btn {
        width: 20px;
        // height: 0;
        @include transition(0s);
        color: #212121;
        text-indent: -666px;
        color: transparent;
        opacity: 0;
        color: material-color("grey", "900");
      }

    /* &.scrolled {
      .menu-btn {
        @include transition(0.5s);
        color: #212121;
        text-indent: -666px;
        opacity: 0;
        color: material-color("grey", "900");
        &:before {
          @include transition(0.5s);
          opacity: 0;
        }
      }
    } */
    i {
      display: block;
    }
    .menu-btn {
      &:after {
        display: none;
      }
    }
  }
}

.social-icons-bottom {
  li {
    a {
      color: #212529;
      text-decoration: none;
      &:hover {
        opacity: .7;
      }
    }
  }
}


.social-icons {
  position: fixed;
  bottom: 1.87rem;
  z-index: 9999;
  // @include transition(opacity, 0.3s);
  a {
    // color: white;
    color: #000;
    text-decoration: none;
    &:hover {
      opacity: .7;
    }
  }
  &:before{
    content: '';
    width: 1px;
    height: 20px;
    background-color: #000;
    margin-left: 1.8125rem;
    position: absolute;
    margin-top: -1.5625rem;
  }
  &.hide {
    opacity: 0;
    @include transition(opacity, 0.3s);
  }
  &.inverted {
    color: white;
    a {
      color: white !important;
    }
    &:before{
      background-color: white;
    }
  }
}
  .mobile-footer {
    display: none;
  }

footer {
  padding: 1rem;
  background: #f7f7f7;
  
  @media (max-width: 991px) {

    padding: .625rem;
    .btn {
      display: none !important;
    }
    
  .mobile-footer {
          display: block;
    float: left;
    width: calc(100% + 50px);
    margin: 0 -25px;
    background-color: #0d47a1;
    margin-top: -10px;
      .btn {
        display: block !important;
        margin-left: 0;
        padding: 1.15rem;
        width: 100%;
        // background: white;
        color: white !important;
        border: none !important;
        font-weight: 500;
        font-size: 1.1rem;
        @include box-shadow(none !important);
        &:hover, &:focus {
          background-color: transparent !important;
        }
      }
    }
  }

  @media (max-width: 767px) {
    
    
  }
  .btn {
    line-height: 0;
    padding: 1.1875rem 1.0625rem 1.3125rem;
    margin-left: 1.5rem;
  }
  p {
    font-size: .875rem;
    font-weight: 600;
    @media (max-width: 576px) {
      font-size: 13px;
    }
    &.cpyrht {
          position: static !important;
    height: 56px;
    align-items: center;
    display: flex;
    }
  }
  a {
    &.navbar-brand {
      img {
        width: 2.81rem;
      }
    }
  }
}

.w-60 {
  width: 60%;
}

.w-45 {
  width: 45%;
}

.page-close-icon {
  position: fixed;
  right: 2rem;
  top: 2rem;
  z-index: 11000;
  font-size: 1.5rem;
  text-decoration: none;
  i {
    display: block;
    line-height: 1;
  }
}

.container {
  @media (min-width: 1300px) {
    max-width: 1200px;
  }
  @media (min-width: 1700px) {
    max-width: 1600px;
  }
  @media (min-width: 1921px) {
    max-width: 1800px;
  }
  @media (max-width: 577px) {
    max-width: 100%;
    // padding-left: 3.75rem;
  }
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  // background-color: #0d47a1;
  background-color: white;
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../img/loader.svg);
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-animation: zoomin 6s ease-in infinite;
    animation: zoomout 6s ease-in infinite;
    transition: all .5s ease-in-out;
    overflow: hidden;
    animation-delay: 4s;
  }
}

@-webkit-keyframes zoomout {
  0% {transform: scale(1);}
  50% {transform: scale(0.8);}
  100% {transform: scale(1);}
}
@keyframes zoomout {
    0% {transform: scale(1);}
  50% {transform: scale(0.8);}
  100% {transform: scale(1);}
}/*End of Zoom out Keyframes */