


.marketing {
  .banner {
    position: relative;
    // min-height: 570px;
    @include display-flex;
    @include align-items(flex-end);
    width: 100%;
    .particles-cont {
      width: 100%;
          padding: 0 4rem;
      // margin: 0 1.5rem;
      // padding: 0 2rem;
      // @include display-flex;
      // @include align-items(flex-end);
      // @include justify-content(space-between);
      margin-bottom: 2.5rem;
      h3 {
        // font-size: 1.8rem;
        font-size: 2rem;
        text-align: left;
        color: #fff;
        bottom: 2rem;
        // width: calc(100% - 465px);
        // padding: 1.5rem;
        // font-weight: 300;
        margin-bottom: 0;
        @media (max-width: 767px){
          font-size: 2rem;
        }
        @media (max-width: 577px){
          font-size: 1.5rem;
          font-weight: 400;
        }
      }
      @media (max-width: 991px){
        // padding: 5rem 0rem 3rem;
      }
      h4 {
        margin-bottom: 0;
        font-weight: 600;
        color: white;
      }
      h5 {
        font-size: 1.375rem;
        color: white;
        line-height: 33px;
      }
      h2 {
        font-size: 3.3rem;
        font-weight: 700;
        color: wheat;
      }
      a {
        color: white;
        text-decoration: underline;
      }
    }
    overflow: hidden;
    background-color: #F3591A;
    @include filter-gradient(#F3591A, #F2721B, horizontal); 
    @include background-image(linear-gradient(left, #F3591A 0%,#F2721B 100%));
  }
  .particles {
    height: 100%;
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // height: 100% !important;
      // width: calc(100% - 1.5rem) !important;
    }
  }
  .ignite-platform {
    background: url('../img/marketing/bg-1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 34rem;
    .content-box {
      margin-top: 6rem;
      width: 53%;
      h1 {
        font-size: 3.3rem;
        font-weight: 900;
        text-transform: uppercase;
      }
    }
  }
  .erp-modules {
    background: #EDEDED;
    padding-bottom: 4rem;
    .section-header {
      text-align: center;
      padding: 2.5rem 0px;
      h3 {
        font-size: 2.5rem;
        font-weight: 800;
      }
    }
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          margin: 0 2px;
          .slide-box {
            width: 245px;
            margin: 0px;
            background: #F2F2F2;
            padding: 0rem;
            height: 445px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
            border-radius: 4px;          

            h3 {
              font-size: 18px;
              font-weight: 700;
              color: #676767;
            }
            .img-box {
              width: 258px;
              height: 175px;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              z-index: 16;
              position: absolute;
              left: -7px;
              right: 0;
            }
            .bottom-content {
              position: relative;
              top: 12rem;
              font-size: 14px;
              font-weight: 600;
              width: 100%;
              left: 0;
            }
          }
        }
      }
    }
  }
  .bg-sect1 {
    background: url('../img/marketing/bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 28rem;
    display: flex;
    align-items: center;
    .content-box {
      height: auto;
      margin: 0 auto;
      width: 75%;
    }
  }
  .bg-sect2 {
    background: url('../img/marketing/bg-3.jpg');
    @extend .bg-sect1;
  }
  .business-sectors {
    .section-header {
      text-align: center;
      padding: 1rem 0px 2.5rem;
      h3 {
        font-size: 2.5rem;
        font-weight: 800;
      }
      p {
        font-size: 1.1875rem;
      }
    }
    ul {
      li {
        .icon {
          img {
            width: 80px;
          }
        }
        .icon-details {
          h4 {
            font-size: 1.4375rem;
          }
        }
      }
    }
  }
  .bg-sect3 {
    background: url('../img/marketing/bg-4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 43rem;
    display: flex;
    align-items: center;
    .content-box {
      height: auto;
      margin: 0 auto;  
      img {
        width: 655px;
      }
    }
  }
  .footer-section {
    background: url('../img/marketing/bg-5.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    .section-header {
      text-align: center;
      padding: 2.5rem 0px;
      h3 {
        font-size: 2.1rem;
        font-weight: 800;
      }
    }
  }
}


.our-process {
  background-color: #3d3d3d;
  min-height: 550px;
  overflow: hidden;
  .swiper-pagination-bullets {
    top: 20%;
    font-weight: 600;
  }
  .swiper-container {
    margin: 0 3.5rem;
    padding: 0 2rem;
    height: 550px;
    overflow: visible;
    @media screen and (max-width: 991px) {
      margin: 0 0rem 0 3rem;
      padding: 0 2rem 0 0rem;
    }
    @media (max-width: 575px) {
      margin: 0 0rem 0 1rem;
      padding: 0 2rem 0 0rem;
    }
    .our-process-caption {
      position: absolute;
      right: 0;
      color: white;
      font-weight: 600;
      top: 2rem;
    }
    .small-caption {
      position: absolute;
      right: 0;
      color: white;
      top: 5rem;
      text-align: right;
      font-size: 24px;
      line-height: 32px;
    }
  }
  .swiper-slide {
    text-align: left;
    font-size: 18px;
    color: #fff;
    @include display-flex;
    @include align-items(center);
    .swiper-heading {
      h3 {
        position: relative;
        font-weight: 600;
        @include transform(translateX(0px) translateY(-30px));
        opacity: 0;
      }
      .checkmark {
        position: relative;
        @include transform (rotate(35deg));
        display: inline-block;
        bottom: 10px;
        left: 0rem;
        opacity: 0;
        @include transition-delay(.1s);
        @include transition(all 1s ease-out);
        .checkmark_stem {
          position: absolute;
          width: 0px;
          height: 0px;
          background-color: transparent;
          left: 11px;
          bottom: 6px;
          @include transition-delay(.5s);
          @include transition(all .2s ease-out);
        }      
        .checkmark_kick {
          position: absolute;
          width: 0px;
          height: 0px;
          background-color: transparent;
          left: 5px;
          bottom: 3px;
          @include transition-delay(.8s);
          @include transition(all .3s ease-out);
        }
      }
      p {
        @include transition-delay(.5s);
        @include transition(all 1s ease-out);
        @include transform(translateX(0px) translateY(30px));
        opacity: 0;
        
      }
    }
    &.swiper-slide-active {
      h3 {
        opacity: 1;
        @include transition(all .8s ease-out);
        @include transform(translateX(0px) translateY(0px));
      }
      .checkmark {
        opacity: 1;
        .checkmark_kick {
          background-color: #fff;
          width: 10px;
          height: 4px;
          transition-delay: .65s;
        }
        .checkmark_stem {
          background-color: #fff;
          width: 4px;
          height: 17px;
          @include transition-delay(.8s);
        }
      }
      p {
        opacity: 1;
        @include transform(translateX(0px) translateY(0px));
      }
    }
    .swiper-body {
      padding-right: 3rem;
      padding-left: 3rem;
      float: left;
      width: 100%;
      &:after {
        content: '';
        display: table;
        clear: both;

      }
      h3 {
        display: inline-block;
        font-size: 2.7rem;
        @media screen and (max-width: 991px) {
          font-size: 2.3rem;
        }
      }
      p {

        color: #ababab;
        font-weight: 600;
        font-size: 1.9rem;
        line-height: 2.4rem;
        margin: 0;
        @media screen and (max-width: 991px) {
          font-size: 1.3rem;
        }
      }
    }
  }
  .swiper-pagination-bullet {
    color: white;
    width: auto;
    height: auto;
    background: transparent !important;
    font-size: 1.3rem;
    outline: none;
    /* &:after {
      content: '';
      left: 0;
      width: 0;
      top: calc(50% - 1px);
      height: 2px;
      background-color: white;
      display: block;
      position: absolute;
      @include transition(all .2s ease-out);
      @include transition-delay(700ms);
    } */
    /* &.swiper-pagination-bullet-active {
      position: relative;
      &:after {
        width: 100%;
      }
    } */
  }

  .swiper-container-vertical>.swiper-pagination-bullets {
    left: 10px;
    right: auto;
    // @include transform(translate3d(0,0,0));
  }
}


.our-process .swiper-pagination-bullet:nth-of-type(1), .swiper-visited {
  color: white !important;
  opacity: 1 !important;
  position: relative !important;
  // &:after {
  //   width: 100% !important;
  // }
}

@media screen and (max-width: 1099px) { 
  .team-exp .media {
    width: 95%;
  }
  .about-us .banner .particles-cont {
    display: block;
   padding: 0rem 3rem 0rem 3rem;
    h3  {
      width: calc(100%);
    }
  }
}

@media screen and (max-width: 1060px) {
  .text-slogan .slg:nth-of-type(even) {
    margin-top: 6rem;
  }
  .bg-sect3 {
    .content-box {
       img {
        width: 100% !important;
      }
      h1 {
        font-size: 1.5rem;
      }
    }
  }
  .ignite-platform {
    background-size:cover !important;
    .content-box {
      width: 100% !important;
      // h1 {
      //   font-size: 2rem !important;
      //   // color: #fff;
      // }
    }
  }
  .bg-sect1 {
    .content-box {
      h1 {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 991px){
  .about-us .banner .particles-cont {
    padding: 5rem 0rem 3rem;
        margin-bottom: 0;
    h3 {
      font-size: 1.7rem;
      padding: 0rem 2rem 0rem 2rem;
    }
  }
  .technology-team .team-list li {
    h4 {
      font-size: 1.2rem;
    }
    // margin-right: 2rem;
    .avatar {
      width: 174px;
      height: 174px;
    }
  }
  .footer-section {
    .btn {
      display: block !important;
    }
  }
}

.about-right-elm {
  text-align: center;
}

@media (max-width: 767px){

  .about-right-elm {
    text-align: right;
        margin-bottom: -30px;
    // position: absolute;
    // right: 1rem;
    // bottom: -70px;
  }

  .our-process {
    .swiper-container-vertical > .swiper-pagination-bullets {
      left: 0px;
    }
    .swiper-slide {
      text-align: center;
      padding-left: 2rem;
      padding-top: 3rem;
    }
    .swiper-container .our-process-caption {
      left: 0;
      margin: auto;
      text-align: right;
      right: 1rem;
      font-style: italic;
    }
  }

  .about-us .banner .particles-cont {
    
    h4 {
      display: none;
    }
  }
  .about-us .right-cont {
    float: none;
    margin: auto;
    display: table;
  }
  .team-exp .media{
    width: 100%;
    @include flex-direction(column);
    &.md-right {
      @include flex-direction(column-reverse);
    }
    .media-body {
      text-align: center;
      .media-heading {
        margin-top: 1rem;
      }
    }
    &:last-of-type {
      padding-bottom: 0rem;
      margin-bottom: 0rem;
    }
  }
  .our-process .swiper-slide .swiper-body {
        padding-right: 0;
      padding-left: 0;
  }  
  .text-slogan .slg {
    margin-right: auto !important;
    margin-left: auto !important;
    float: none !important;
    display: table !important;
    // margin-bottom: 4rem !important;
    &:last-of-type {
      margin-bottom: 0 !important;
    }
  }
}

@media (max-width: 575px) {
  .our-process {
    .small-caption {
      position: absolute;
      right: 0;
      color: white;
      top: 4rem !important;
      text-align: right;
      font-size: 16px !important;
      line-height: 25px !important;
      width: 85% !important;
    }
    .swiper-slide {
      text-align: left;
      padding-left: 3rem;
      .swiper-body {
        h3 {
          font-size: 1.875rem;
        }
        p {
          line-height: 1.4;
          font-weight: 400;
          font-size: 1.2rem;
        }
      }
    }
  }
  
  .ignite-platform {
    background-size:cover !important;
    .content-box {
      width: 100% !important;
      h1 {
        font-size: 2rem !important;
        color: #fff;
      }
    }
  }
  .erp-modules {
    .swiper-container { 
      .swiper-wrapper { 
        .swiper-slide {
          // margin: 0 9px !important;
          .slide-box {
            width: 334px !important;
            .img-box {
              width: 350px !important;
            }
          }
        }
      }
    }  
  }
  // .bg-sect1 {
  //   .content-box {
  //     width: 100% !important;
  //     margin: 3.5rem auto !important;
  //   }
  // }
  .bg-sect3 {
    .content-box {
       img {
        width: 100% !important;
      }
      h1 {
        font-size: 1.5rem;
      }
    }
  }  
}


#ourProcess .swiper-pagination-bullet {
  @include transition(all 1s ease-out);
}

.form-check {
  &.form-check-inline {    
    &.check-btn-type {
      overflow: hidden;
      .form-check-label {
        border: solid 1px grey;
        padding: 1.125rem 1rem;
        border-radius: 1.0625rem;
        cursor: pointer;
        font-weight: 500;
        color: grey;
        line-height: 0;
      }
      .form-check-input {
        position: absolute;
        left: -1rem;
        opacity: 0;
        &:checked {
          + .form-check-label {
            background-color: green;
            border-color: green;
            color: white;
          }
          &:disabled {
            + .form-check-label {
              background-color: green;
              border-color: green;
              opacity: 0.65;
            }
          }
        }
        &:disabled {
          + .form-check-label {
            background-color: #e9ecef;
            cursor: not-allowed;
          }
        }
      }
 
    }
  }
 }
 #modelsRequired-error {
  position: absolute;
  width: 120px;
  bottom: -10px;
  left: 0
 }