.page {
  &.project-details {

    @media (max-width: 767px){
        .next-project {
          padding-top: 1.5rem !important;
        }
        .project-content.bg-white {
          
            padding: 0 !important;
          
        }
      }

    .container {
      @media (max-width: 991px){
        max-width: 100%;
      }

    }
    .banner {
      overflow: hidden;
      .jumbotron {
        @media (max-width: 575px){
          padding: 5rem 0 1.5rem;
        }
      }
      img {
        max-height: 2rem;
        &.max {
          max-height: 4rem;
        }
      }
      .display-4 {
        font-weight: 700;
        font-size: 3rem;
        margin: 0 0 1rem 0;
        @media (max-width: 767px){
          font-size: 2.4rem;
        }
      }
      p {
        &.lead {
          font-size: 1.125rem;
          margin: 0;
          font-weight: 400;
        }
      }
      h5 {
        font-weight: 700;
        margin: 0;
        + p {
          margin: 0 0 1rem 0;
        }
        &:last-of-type {
          + p {
            margin: 0;
          }
        }
      }
    }
    @keyframes scroll {
      0%{opacity:1; @include transform (translateY(-5px))}
      100%{opacity:0; @include transform (translateY(10px))}
    }
    .scroll-icon {
      position: absolute;
      bottom: 1.5rem;
      left: 50%;
      @include transform(translateX(-50%));
      font-size: 0.875rem;
      @media (max-width: 767px){
        display: none;
      }
      @include keyframes(scroll) {
        0% { @include transform(translateY(5px)) }
        50% { @include transform(translateY(10px)) }
        100% { @include transform(translateY(5px)) }  
      }
      .scroll-down {
        display: block;
        width: 24px;
        height: 32px;
        @include border-radius(12px);
        border: 1px solid material-color("grey", "200");
        text-align: center;
        &:after {
          display: block;
          margin: auto;
          width: 4px;
          height: 8px;
          background-color: material-color("grey", "200");
          @include border-radius(50%);
          content: "";
          @include animation(scroll 1.3s ease-out infinite forwards);
        }
      }
    }
    .parallax-wrapper {
      height: 25rem;
      overflow: hidden;
      position: relative;
      background-color: white;
      @media (max-width: 767px){
        height: 15rem;
      }
      @media (max-width: 575px){
        height: 10rem;
      }
      .parallax-bg {
        background: no-repeat center center;
        @include background-size(cover);
        position: absolute;
        width: 100%;
        height: 150%;
        z-index: 1;
      }
    }
    .project-thumb {
      padding: 5rem 0;
      .autoscroll {
        overflow: hidden;
        height: 50vh;
        min-height: 12.5rem;
        position: relative;
        // img {
        //   position: absolute;
        //   left: 0;
        //   right: 0;
        //   top: 0;
        // }
      }
    }
    .project-content {
      padding: 3rem 0;
      color: material-color("grey", "700");
      font-size: 1.125rem;
      h3 {
        font-size: 2.25rem;
        font-weight: 700;
        color: material-color("grey", "900");
      }
    }
    footer {
      position: relative;
      z-index: 1;
    }
    section {
      position: relative;
      z-index: 1;
      &.wipe-trigger {
        z-index: -1;
      }
      &.next-project {
        padding: 3rem 0;
        background-color: material-color("grey","300");
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        .card {
          // max-width: 62rem;
          max-width: 100%;
          background-repeat: no-repeat;
          @include background-size(cover);
          border: none;
          @include border-radius(0);
          color: material-color("grey", "800");
          font-size: 0.9375rem;
          @media (max-width: 767px){
            font-size: 0.75rem;
          }
          small {
            font-size: 90%;
          }
          .card-text {
            font-weight: 700;
            font-size: 1.5rem;
            margin: 0;
            line-height: normal;
            @media (max-width: 767px){
              font-size: 1.25rem;
              padding: 1.75rem 0;
            }
            @media (max-width: 575px){
              font-size: 1rem;
            }
          }
          .card-body-footer {
            @media (max-width: 767px){
              line-height: normal;
              max-width: 50%;
            }
          }
          a {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
          @media (max-width: 767px){
            .w-40, .w-50, .w-60 {
              width: 90% !important;
              max-width: 90% !important;
            }
          }
        }
      }
    }
  }
  .bg-firebrick {
    background-color: #D5403F;
  }
  .bg-grape {
    background-color: #393848;
  }
  .bg-cornflower {
    background-color: #416ED3;
  }
  .bg-burlywood {
    background-color: #4c576a;
  }

  .bg-8sidor {
    background-color: #fdd5c0;
    .project-thumb {
      background-color: #fdd5c0 !important;
    }
    .scroll-down {
      border-color: #333333 !important;
      &:after {
        background-color: #333333 !important;
      }
    }
    * {
     color: #333333;
    }
  }

  .bg-rocxia {
    background-color: #fb974e;
    .scroll-down {
      border-color: white !important;
      &:after {
        background-color:white !important;
      }
    }
    * {
     color: white;
    }
  }
  .bg-isp {
    background: #5C4597;
    @extend .bg-rocxia;
    .company-logo {
      padding-bottom: 2rem;
      font-size: 2.5rem;
      font-weight: 600;  
    }
  }

}