.page {
  &.projects {
    background-color: $global-bg;
    .banner {
      overflow: hidden;
      .jumbotron {
        @media (max-width: 767px){
          padding: 6rem 0 7rem;
          margin: 0;
        }
      }
      .display-4 {
        font-weight: 700;
        font-size: 4.2rem;
        max-width: 45rem;
        color: material-color("grey", "800");
        @media (max-width: 767px){
          font-size: 3rem;
        }
        @media (max-width: 567px){
          font-size: 2.3rem;
          padding: 1.4rem 1rem 0;
        }
      }
    }
    .card {
      max-width: 62rem;
      background-repeat: no-repeat;
      @include background-size(cover);
      background-position: 0 center;
      border: none;
      @include border-radius(0);
      color: material-color("grey", "800");
      font-size: 1rem;
      @include transition(0.5s);
      &:hover {
        @media (min-width: 768px){
          @include transition(0.5s);
          @include transform(scale(0.93)!important);
          @include box-shadow(0 0.5rem 2rem rgba(0,0,0,0.3));
        }
      }
      @media (max-width: 767px){
        font-size: 0.75rem;
        img {
          max-height: 1.5rem;
        }
      }
      @media (min-width: 1300px) {
        max-width: 1152px;
      }
      @media (min-width: 1600px) {
        max-width: 1400px;
      }
      @media (min-width: 1921px) {
        max-width: 1800px;
      }
      @media (max-width: 577px) {
        max-width: 100%;
        // padding-left: 3.75rem;
      }
      small {
        font-size: 90%;
      }
      .card-text {
        font-weight: 700;
        font-size: 1.875rem;
        margin: 0;
        line-height: normal;
        @media (max-width: 991px){
          font-size: 1.5rem;
        }
        @media (max-width: 767px){
          font-size: 1.25rem;
          padding: 1.75rem 0;
        }
        @media (max-width: 575px){
          font-size: 1rem;
        }
      }
      .card-body-footer {
        @media (max-width: 767px){
          line-height: normal;
          max-width: 50%;
        }
      }
      a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      @media (max-width: 767px){
        .w-40, .w-50, .w-60 {
          width: 90% !important;
          max-width: 90% !important;
        }
      }
    }
    @keyframes scroll {
      0%{opacity:1; @include transform (translateY(-5px))}
      100%{opacity:0; @include transform (translateY(10px))}
    }
    .scroll-icon {
      position: absolute;
      bottom: 1.5rem;
      left: 50%;
      @include transform(translateX(-50%));
      font-size: 0.875rem;
      @include keyframes(scroll) {
        0% { @include transform(translateY(5px)) }
        50% { @include transform(translateY(10px)) }
        100% { @include transform(translateY(5px)) }  
      }
      .scroll-down {
        display: block;
        width: 24px;
        height: 32px;
        @include border-radius(12px);
        border: 1px solid material-color("grey", "700");
        text-align: center;
        &:after {
          display: block;
          margin: auto;
          width: 4px;
          height: 8px;
          background-color: material-color("grey", "700");
          @include border-radius(50%);
          content: "";
          @include animation(scroll 1.3s ease-out infinite forwards);
        }
      }
    }
  }
}