.technical-overview {

  .banner {
    display: flex;
    // min-height: 570px;
    // height: auto;
    padding: 0 2rem;
    margin-bottom: 2.5rem;
    background-color: #5040b2;
    @include filter-gradient(#5040b2, #7969e5, horizontal);
    @include background-image(linear-gradient(left, #5040b2 0%,#7969e5 100%));    
    @media (max-width: 991px){
      .banner-wrp {
        padding: 5rem 2rem 3rem;
        h3 {
          font-size: 2.5rem;
        }
        .particles-cont {
          width: 100%;
        }
      }
      .mdrift-logo {
        display: none;
      }

    }
    @media (max-width: 767px){
      .banner-wrp {
        padding: 5rem 0 3rem;
        h3 {
          font-size: 1.875rem;
        }
        p {
          font-size: 1.125rem;
          line-height: 1.4;
        }
      }
    }
  }

 
  .particles {
    height: 100%;
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // height: 100% !important;
      // width: calc(100% - 1.5rem) !important;
      @media (max-width: 767px){
        opacity: .5;
      }
    }
  }
  
  @media (max-width: 991px){
  .technologies-view ul li {
        margin-right: 2.2rem !important;
      }
    }


  .banner-wrp {
    display: flex;
    align-items: center;
    margin: 0 1.5rem;
    padding: 0 2rem;
    h3 {
      color: white;
      font-size: 2.9rem;
      font-weight: 600;
    }
    p {
      font-size: 1.4rem;
      color: white;
      margin-bottom: 0;
      width: 95%;
      font-weight: 300;
    }
    .mdrift-logo {
      width: 160px;
      height: 160px;
      margin-left: 4%;
      position: relative;
      img {
        width: 100%;
        height: auto;
      }
    }
    .particles-cont {
      width: 70%;
    }
  }

  .technologies-view {
    .tec {
      clear: both;
      display: block;
      margin-bottom: 5rem;
      &:last-of-type {
        margin-bottom: 0;
      }
      &:after {
        display: table;
        content: '';
        clear: both;
      }
    }
    margin: 0 1.5rem;
    padding: 3rem 5rem;
    @media (max-width: 767px){
      padding: 3rem 0;
    }
    h4 {
      font-weight: 600;
      margin-bottom: 1rem;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        height: 43px;
        width: auto;
        float: left;
        margin-right: 3.5rem;
        margin-bottom: 1rem;
        &:last-of-type {
          margin-right: 0;
        }
        img {
          width: auto;
          height: 100%;
        }

      }
    }
    &:after {
      display: table;
      content: '';
      clear: both;
    }
  }
}

@media (max-width: 991px){
  .technical-overview footer .mobile-footer {
    display: none;
  }
  .about-us footer .mobile-footer {
    display: none;
  }
}

 @media (max-width: 767px){
    .social-icons {
      display: none !important;
    }
  }
