<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{self.meta_content}}">

    <link rel="shortcut icon" href='../static/img/logo.png'>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/swiper.min.css">
    
    <title>{{ self.header_title }}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133923308-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-133923308-1');
    </script>

  </head>


<body class="intro">

    <div class="loader"></div>


    <div id="mainNav" class="sidenav d-flex align-items-center">
      <div class="w-100 d-flex align-items-end">
        <ul class="list-unstyled mb-0 w-100">
          <li><a href="/">HOME</a></li>
          <li><a href="/projects/">PROJECTS</a></li>
          <li><a href="/about-us/">ABOUT US</a></li>
          <li><a href="/technologies/">TECHNOLOGIES</a></li>
          <li><a href="/blogs/">BLOGS</a></li>
          <li><a href="/contact-us/">CONTACT US</a></li>
        </ul>
        <div class="page-description">
          <ul>
            <li>
              <h4>Our Home</h4>
              <p>View a brief about our company and what we can do</p>
            </li>
            <li>
              <h4>Projects</h4>
              <p>A showcase of the best projects we have executed so far</p>
            </li>
            <li>
              <h4>About Us</h4>
              <p>Learn more about what we have to offer, what drives us and who we are</p>
            </li>
            <li>
              <h4>Technologies</h4>
              <p>Just some of the technologies that we use and apply everyday</p>
            </li>
            <li>
              <h4>Blogs</h4>
              <p>Here you can find in our knowledge center</p>
            </li>
            <li>
              <h4>Contact Us</h4>
              <p>Get in touch to build something together</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="nav-btn inverted">
      <button class="btn menu-btn">Menu</button>
      <i class="ion-close-round"></i>
    </div>
    <nav class="navbar navbar-light text-center w-100" id="navBar">      
      <a class="navbar-brand m-0 m-auto" href="/">
        <img src="../static/img/logo.png" alt="">
      </a>
    </nav>

    <div class="social-icons inverted">
      <ul class="list-unstyled pl-4">
        <li><a href="https://www.instagram.com/mdrifttech/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
        <li><a href="https://twitter.com/mDriftGlobal/" target="_blank"><i class="ion-social-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/mDriftTechnologiesIndia/" target="_blank"><i class="ion-social-facebook"></i></a></li>
      </ul>
    </div>


    <div class="page technical-overview">     
      <section class="banner">

        <div class="particles" id="particles-js"></div>

        <div class="banner-wrp">
          <div class="particles-cont">
            <h3>mDrift's Technology Expertise</h3>
            <p>With systematic changes in technological advances, mDrift helps you find software developing tools and technologies that will perfectly comply with your business requirements. We do not take the easiest way to programming languages or frameworks but we cherish solving problems with the right tools. Making technologies easier for business adoption, we help you understand how software development trends affect your business and whether or not the selected technology will satisfy the market demand.</p>
          </div>
          <div class="mdrift-logo">
            <img src="../static/img/logo-1.png"  alt="">
          </div>
        </div>
      </section>

      <section class="technologies-view">
        <div class="tec">
        <h4>Key technologies</h4>
          <ul>
            <li>
              <img src="../static/img/technology/keytechnologies/1.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/keytechnologies/2.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/keytechnologies/3.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/keytechnologies/4.png"  alt="">
            </li>
          </ul>
        </div>
        
        <div class="tec">
          <h4>Web frameworks</h4>
          <ul>
            <li>
              <img src="../static/img/technology/webframeworks/1.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/webframeworks/2.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/webframeworks/3.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/webframeworks/4.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/webframeworks/5.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/webframeworks/6.png"  alt="">
            </li>
          </ul>
        </div>

        <div class="tec">
          <h4>Databases</h4>
          <ul>
            <li>
              <img src="../static/img/technology/databases/1.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/databases/2.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/databases/3.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/databases/4.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/databases/5.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/databases/6.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/databases/7.png"  alt="">
            </li>
          </ul>
        </div>

        <div class="tec">
          <h4>Front end</h4>
          <ul>
            <li>
              <img src="../static/img/technology/frontend/1.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/frontend/2.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/frontend/3.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/frontend/4.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/frontend/5.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/frontend/6.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/frontend/7.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/frontend/8.png"  alt="">
            </li>
          </ul>
        </div>

        <div class="tec">
          <h4>Source control</h4>
          <ul>
            <li>
              <img src="../static/img/technology/sourcecontrol/1.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/sourcecontrol/2.png"  alt="">
            </li>
          </ul>
        </div>

        <div class="tec">
          <h4>Mobile</h4>
          <ul>
            <li>
              <img src="../static/img/technology/mobile/1.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/mobile/2.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/mobile/3.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/mobile/4.png"  alt="">
            </li>
          </ul>
        </div>

        <div class="tec">
          <h4>Cloud</h4>
          <ul>
            <li>
              <img src="../static/img/technology/cloud/1.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/cloud/2.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/cloud/3.png"  alt="">
            </li>
            <li>
              <img src="../static/img/technology/cloud/4.png"  alt="">
            </li>
          </ul>
        </div>


      </section>

      <section class="text-slogan">
        <a href="/projects/" class="slg-top slg">
          Take a look at what<br>we've made for others.
        </a>
        <a href="/contact-us/" class="slg-top slg">
          Let's build something if<br>you are convinced.
        </a>
      </section>


      <div class="clearfix"></div>
       
      
      <footer>
        <div class="container-fluid">
          <div class="row mobile-footer">
            <a href="/contact-us/" class="btn btn-outline-dark d-flex float-left">Contact Us</a>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="align-items-center col-5 p-0 d-lg-flex d-sm-block justify-content-center">
              <p class="m-0 cpyrht">Copyright 2018 mDrift Technologies</p>
              <a href="/contact-us/" class="btn btn-outline-dark d-flex float-left">Contact Us</a>
            </div>
            <div class="col-3 text-center">
              <a class="navbar-brand m-0 m-auto" href="/">
                <img src="../static/img/logo.png"  alt="">
              </a>
            </div>
            <div class="col-4 m-0 m-auto">
              <ul class="list-unstyled  align-items-center mb-0 d-flex justify-content-center social-icons-bottom">
                <li class="pr-3"><a href="https://www.instagram.com/mdrifttech/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
                <li class="pr-3"><a href="https://twitter.com/mDriftGlobal/" target="_blank"><i class="ion-social-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/mDriftTechnologiesIndia/" target="_blank"><i class="ion-social-facebook"></i></a></li>
              </ul>  
            </div>
          </div>
        </div>
      </footer>
      
    </div>

    {% include "all_js.html" %}
</body>
</html>