<!doctype html>
{% load wagtailcore_tags wagtailimages_tags %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href='/static/img/logo.png'>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link rel="stylesheet" href="/static/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    
    <title>{{ self.header_title }}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133923308-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-133923308-1');
    </script>

  </head>


<body class="intro">

    <div class="loader"></div>


    <div id="mainNav" class="sidenav d-flex align-items-center">
      <div class="w-100 d-flex align-items-end">
        <ul class="list-unstyled mb-0 w-100">
          <li><a href="/">HOME</a></li>
          <li><a href="/projects/">PROJECTS</a></li>
          <li><a href="/about-us/">ABOUT US</a></li>
          <li><a href="/technologies/">TECHNOLOGIES</a></li>
          <li><a href="/blogs/">BLOGS</a></li>
          <li><a href="/contact-us/">CONTACT US</a></li>
        </ul>
        <div class="page-description">
          <ul>
            <li>
              <h4>Our Home</h4>
              <p>View a brief about our company and what we can do</p>
            </li>
            <li>
              <h4>Projects</h4>
              <p>A showcase of the best projects we have executed so far</p>
            </li>
            <li>
              <h4>About Us</h4>
              <p>Learn more about what we have to offer, what drives us and who we are</p>
            </li>
            <li>
              <h4>Technologies</h4>
              <p>Just some of the technologies that we use and apply everyday</p>
            </li>
            <li>
              <h4>Blogs</h4>
              <p>Here you can find in our knowledge center</p>
            </li>
            <li>
              <h4>Contact Us</h4>
              <p>Get in touch to build something together</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="nav-btn inverted">
      <button class="btn menu-btn">Menu</button>
      <i class="ion-close-round"></i>
    </div>
    <nav class="navbar navbar-light text-center w-100" id="navBar">      
      <a class="navbar-brand m-0 m-auto" href="/">
        <img src="/static/img/logo.png" alt="">
      </a>
    </nav>

    <div class="social-icons inverted">
      <ul class="list-unstyled pl-4">
        <li><a href="https://www.instagram.com/mdrifttech/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
        <li><a href="https://twitter.com/mDriftGlobal/" target="_blank"><i class="ion-social-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/mDriftTechnologiesIndia/" target="_blank"><i class="ion-social-facebook"></i></a></li>
      </ul>
    </div>

  <a class="page-close-icon text-white" href="/projects">
    <i class="ion-close-round"></i>
  </a>
  
  <div class="page project-details">

    <section class="banner position-relative  text-white">
        {% image self.bg_color original as bg_clr %}
        {% image self.project_list_logo original as logo_img %}
        <div class="jumbotron jumbotron-fluid bg-transparent h-100 d-flex align-items-center" style="background-image: url('{{ bg_clr.url }}')">
          <div class="container">
            <div class="row">
              <div class="col">
                <img src={{logo_img.url}} class="company-logo"><br><br>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 mb-3 mb-md-0 order-md-1">
                <h1 class="display-4">{{self.right_content_heading}}</h1>
                <p class="lead">
                    {{self.right_content}}
                </p>
              </div>
              <div class="col-md-4 order-md-0">
                <h5>Timeline</h5>
                <p>{{self.timeline}}</p>
                <h5>Platform</h5>
                <p>{{self.platform}}</p>
                <h5>Deliverables</h5>
                <p>{{self.deliverables}}</p>
              </div>
            </div>
            <!-- <h1 class="display-4 m-auto">It's not what you say, it's what you do.</h1> -->
            <div class="scroll-icon">
              <div class="scroll-down mx-auto"><span></span></div>
              <div class="mt-1">Scroll to see more</div>
            </div>
          </div>           
        </div>
      </section>

    <section class="parallax-wrapper">
        {% image self.section1_image original as bg_img1 %}
      <div class="parallax-bg" style="background-image: url('{{ bg_img1.url }}')"></div>
    </section>

    <section class="project-content bg-white">
      <div class="container">
        <div class="row align-items-center mb-1 mb-md-5">
            {% for block in self.section1_content %}
            {% if block.block_type == 'image' %}
          <div class="col-md-6 px-lg-5">
            
            {% image block.value width-530 %}
          </div>
          {% else %}
          <div class="col-md-6 px-lg-5">
            <p class="company-logo block-{{ block.block_type }}">
            {% include_block block %}</p>
             
          </div>
          {% endif %}
            {% endfor %} 
        </div>
        
        
      </div>
    </section>
    {% image self.bg_color original as bg_clr %}
    <section class="project-thumb" style="background-image: url('{{ bg_clr.url }}')">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
           
            {% image self.section2_image fill-800x400 as section2_img %}
            <img src="{{ section2_img.url }}" class="img-fluid shadow-lg" alt="">
          </div>
        </div>
      </div>
    </section>

    
    <section class="project-content bg-white">
        <div class="container">
          <div class="row align-items-center mb-1 mb-md-5">
              {% for block in self.section2_content %}
              {% if block.block_type == 'image' %}
            <div class="col-md-6 px-lg-5">
              
              {% image block.value width-530 %}
            </div>
            {% else %}
            <div class="col-md-6 px-lg-5">
              <p class="company-logo block-{{ block.block_type }}">
              {% include_block block %}</p>
               
            </div>
            {% endif %}
              {% endfor %} 
          </div>
          
          
        </div>
      </section>

    <section class="wipe-trigger w-100"></section>

    <section class="next-project d-flex align-items-center justify-content-center">
      <div class="page-close-icon">
        <i class="ion-close-round"></i>
      </div>
      <div class="container">
          
        {% image self.nextpage_bg_image original as bg_img %}
        <div class="card mx-auto mb-3 mb-md-5" style="background-image: url('{{bg_img.url}}')">
          <a href="{{self.nextpage_url }}"></a>
          <div class="card-body d-flex flex-column justify-content-between align-items-start">
            {% image self.nextpage_logo original as logo %}
            <img src="{{logo.url}}" alt="">
            <p class="card-text text-uppercase text-white w-60 d-none d-md-block">{{self.nextpage_heading}}</p>
            <div class="card-body-footer text-white">
              <strong class="text-uppercase d-block">{{ self.nextpage_title }}</strong>
              <small class="d-block">{{self.nextpage_subtitle}}</small>
            </div>
          </div>
        </div>
        
        
      </div>
    </section>

    <footer>
      <div class="container-fluid">
        <div class="row mobile-footer">
          <a href="/contact-us/" class="btn btn-outline-dark d-flex float-left">Contact Us</a>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="align-items-center col-5 p-0 d-lg-flex d-sm-block justify-content-center">
            <p class="m-0 cpyrht">Copyright 2018 mDrift Technologies</p>
            <a href="/contact-us/" class="btn btn-outline-dark d-flex float-left">Contact Us</a>
          </div>
          <div class="col-3 text-center">
            <a class="navbar-brand m-0 m-auto" href="/">
              <img src="../static/img/logo.png"  alt="">
            </a>
          </div>
          <div class="col-4 m-0 m-auto">
            <ul class="list-unstyled  align-items-center mb-0 d-flex justify-content-center social-icons-bottom">
              <li class="pr-3"><a href="https://www.instagram.com/mdrifttech/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
              <li class="pr-3"><a href="https://twitter.com/mDriftGlobal/" target="_blank"><i class="ion-social-twitter"></i></a></li>
              <li><a href="https://www.facebook.com/mDriftTechnologiesIndia/" target="_blank"><i class="ion-social-facebook"></i></a></li>
            </ul>  
          </div>
        </div>
      </div>
    </footer>

  </div>

  {% include "all_js.html" %}
</body>
</html>