/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
html, body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif; }
  html.intro, body.intro {
    overflow: hidden; }

body {
  overflow-x: hidden; }
  body.intro {
    overflow: hidden; }

.sidenav {
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  overflow: hidden;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }
  .sidenav ul li {
    display: block;
    opacity: 0; }
    .sidenav ul li a {
      padding: 8px 8px 8px 2rem;
      text-decoration: none;
      font-size: 1.86rem;
      color: #000;
      display: block;
      transition: 1s;
      text-align: left;
      line-height: 4rem;
      font-weight: 700;
      position: relative; }
      .sidenav ul li a::after {
        content: '';
        width: 0px;
        height: 1px;
        top: 40px;
        margin-left: 40px;
        position: absolute;
        -moz-transition: all 0.1s;
        -o-transition: all 0.1s;
        -webkit-transition: all 0.1s;
        transition: all 0.1s;
        -moz-transition-delay: 0.1s;
        -o-transition-delay: 0.1s;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
        background: #000; }
      .sidenav ul li a::before {
        content: '';
        width: 0px;
        height: 1px;
        top: 40px;
        left: -75px;
        position: absolute;
        -moz-transition: all 0.1s;
        -o-transition: all 0.1s;
        -webkit-transition: all 0.1s;
        transition: all 0.1s;
        background: #000; }
    .sidenav ul li:hover a {
      color: #d4d4d4; }
      .sidenav ul li:hover a::after {
        width: 160px;
        -moz-transition: 0.1s;
        -o-transition: 0.1s;
        -webkit-transition: 0.1s;
        transition: 0.1s;
        -moz-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s; }
      .sidenav ul li:hover a::before {
        content: '';
        -moz-transition: 0.1s;
        -o-transition: 0.1s;
        -webkit-transition: 0.1s;
        transition: 0.1s;
        width: 40px;
        left: -35px; }
  .sidenav .page-description {
    position: relative;
    right: 0;
    width: 100%; }
    .sidenav .page-description ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: right; }
      .sidenav .page-description ul li {
        display: none;
        opacity: 1; }
    .sidenav .page-description h4 {
      font-size: .9375rem;
      font-weight: 700;
      margin-bottom: .2rem; }
    .sidenav .page-description p {
      font-size: .8125rem; }

.nav-open {
  overflow: hidden; }
  .nav-open .sidenav {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    padding: 2.75rem 8rem;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }
    @media (max-width: 767px) {
      .nav-open .sidenav {
        padding: 0 6rem; }
        .nav-open .sidenav ul li a {
          font-size: 1.5rem; } }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 1.56rem;
  font-size: 2.25rem;
  margin-left: 3.125rem; }

@media (max-width: 767px) {
  .nav-open .menu-btn:after {
    display: none !important;
    opacity: 0; }
  .nav-open .menu-btn + i.ion-close-round {
    bottom: 1.22rem;
    color: white;
    z-index: 0;
    font-size: 1.25rem;
    left: 40% !important; } }
@media (max-width: 767px) {
  .sidenav ul li a {
    font-size: 1rem;
    padding: 0;
    line-height: 3rem; }
    .sidenav ul li a:before, .sidenav ul li a:after {
      display: none; }

  .page-description {
    display: none; }

  .nav-btn .menu-btn {
    opacity: 1 !important;
    position: relative;
    text-indent: -9999px;
    bottom: 0 !important;
    background-color: rgba(0, 0, 0, 0.43) !important;
    width: 38px !important;
    height: 38px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .nav-btn .menu-btn:before {
      display: none !important; }
    .nav-btn .menu-btn:after {
      color: white;
      display: block !important;
      content: "\f20e" !important;
      font-family: "Ionicons";
      width: 100%;
      background-color: transparent !important;
      text-indent: 0px;
      left: 8px !important;
      bottom: -2px !important;
      font-size: 2rem;
      line-height: 0; }
    .nav-btn .menu-btn:hover:after {
      bottom: 16px !important; } }
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: .9375rem; }

  .sidenav a {
    font-size: 1.125rem; } }
nav.navbar {
  position: fixed;
  z-index: 9999; }
  nav.navbar .navbar-brand img {
    width: 2.81rem; }
nav.inverted .menu-btn {
  color: white; }
  nav.inverted .menu-btn:after {
    background-color: white; }
  nav.inverted .menu-btn:hover:after {
    background-color: white; }

.nav-btn {
  position: fixed;
  left: -1px;
  top: 0;
  z-index: 99999;
  padding: 1rem;
  cursor: pointer; }
  .nav-btn i {
    display: none;
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    position: absolute;
    font-size: 1.5rem;
    z-index: -1; }
  .nav-btn .menu-btn {
    overflow: hidden;
    -moz-transition: 0s;
    -o-transition: 0s;
    -webkit-transition: 0s;
    transition: 0s;
    background: transparent;
    word-wrap: break-word;
    text-transform: uppercase;
    width: 20px;
    white-space: inherit;
    padding: 0;
    text-orientation: upright;
    font-size: 1rem;
    outline: none !important;
    font-weight: 700;
    box-shadow: none !important; }
    .nav-btn .menu-btn:after {
      content: '';
      width: 2px;
      height: 20px;
      background-color: #000;
      position: absolute;
      left: 50%;
      bottom: -6px; }
    .nav-btn .menu-btn:hover:after {
      width: 20px;
      height: 2px;
      background-color: #000;
      position: absolute;
      left: 33%;
      bottom: 10px; }
    .nav-btn .menu-btn:before {
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: #eeeeee;
      z-index: -1;
      opacity: 0; }
  .nav-btn.inverted .menu-btn {
    color: white;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .nav-btn.inverted .menu-btn:after {
      background-color: white; }
    .nav-btn.inverted .menu-btn:hover:after {
      background-color: white; }
  .nav-btn.scrolled .menu-btn {
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .nav-btn.scrolled .menu-btn:after {
      display: none; }
    .nav-btn.scrolled .menu-btn:before {
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      opacity: 1; }

.nav-open .nav-btn {
  /* &.scrolled {
    .menu-btn {
      @include transition(0.5s);
      color: #212121;
      text-indent: -666px;
      opacity: 0;
      color: material-color("grey", "900");
      &:before {
        @include transition(0.5s);
        opacity: 0;
      }
    }
  } */ }
  .nav-open .nav-btn .menu-btn {
    width: 20px;
    -moz-transition: 0s;
    -o-transition: 0s;
    -webkit-transition: 0s;
    transition: 0s;
    color: #212121;
    text-indent: -666px;
    color: transparent;
    opacity: 0;
    color: #212121; }
  .nav-open .nav-btn i {
    display: block; }
  .nav-open .nav-btn .menu-btn:after {
    display: none; }

.social-icons-bottom li a {
  color: #212529;
  text-decoration: none; }
  .social-icons-bottom li a:hover {
    opacity: .7; }

.social-icons {
  position: fixed;
  bottom: 1.87rem;
  z-index: 9999; }
  .social-icons a {
    color: #000;
    text-decoration: none; }
    .social-icons a:hover {
      opacity: .7; }
  .social-icons:before {
    content: '';
    width: 1px;
    height: 20px;
    background-color: #000;
    margin-left: 1.8125rem;
    position: absolute;
    margin-top: -1.5625rem; }
  .social-icons.hide {
    opacity: 0;
    -moz-transition: opacity, 0.3s;
    -o-transition: opacity, 0.3s;
    -webkit-transition: opacity, 0.3s;
    transition: opacity, 0.3s; }
  .social-icons.inverted {
    color: white; }
    .social-icons.inverted a {
      color: white !important; }
    .social-icons.inverted:before {
      background-color: white; }

.mobile-footer {
  display: none; }

footer {
  padding: 1rem;
  background: #f7f7f7; }
  @media (max-width: 991px) {
    footer {
      padding: .625rem; }
      footer .btn {
        display: none !important; }
      footer .mobile-footer {
        display: block;
        float: left;
        width: calc(100% + 50px);
        margin: 0 -25px;
        background-color: #0d47a1;
        margin-top: -10px; }
        footer .mobile-footer .btn {
          display: block !important;
          margin-left: 0;
          padding: 1.15rem;
          width: 100%;
          color: white !important;
          border: none !important;
          font-weight: 500;
          font-size: 1.1rem;
          -moz-box-shadow: none !important;
          -webkit-box-shadow: none !important;
          box-shadow: none !important; }
          footer .mobile-footer .btn:hover, footer .mobile-footer .btn:focus {
            background-color: transparent !important; } }
  footer .btn {
    line-height: 0;
    padding: 1.1875rem 1.0625rem 1.3125rem;
    margin-left: 1.5rem; }
  footer p {
    font-size: .875rem;
    font-weight: 600; }
    @media (max-width: 576px) {
      footer p {
        font-size: 13px; } }
    footer p.cpyrht {
      position: static !important;
      height: 56px;
      align-items: center;
      display: flex; }
  footer a.navbar-brand img {
    width: 2.81rem; }

.w-60 {
  width: 60%; }

.w-45 {
  width: 45%; }

.page-close-icon {
  position: fixed;
  right: 2rem;
  top: 2rem;
  z-index: 11000;
  font-size: 1.5rem;
  text-decoration: none; }
  .page-close-icon i {
    display: block;
    line-height: 1; }

@media (min-width: 1300px) {
  .container {
    max-width: 1200px; } }
@media (min-width: 1700px) {
  .container {
    max-width: 1600px; } }
@media (min-width: 1921px) {
  .container {
    max-width: 1800px; } }
@media (max-width: 577px) {
  .container {
    max-width: 100%; } }

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  background-color: white; }
  .loader:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../img/loader.svg);
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-animation: zoomin 6s ease-in infinite;
    animation: zoomout 6s ease-in infinite;
    transition: all .5s ease-in-out;
    overflow: hidden;
    animation-delay: 4s; }

@-webkit-keyframes zoomout {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }
@keyframes zoomout {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }
/*End of Zoom out Keyframes */
.section-intro {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #0d47a1; }
  .section-intro .jumbotron .intro-title {
    position: relative;
    font-size: 2.2rem; }
    .section-intro .jumbotron .intro-title .fixed-span {
      display: block;
      color: white;
      padding-right: 1rem;
      font-weight: 700; }
    .section-intro .jumbotron .intro-title .animated-text {
      display: block;
      position: relative;
      font-weight: 600;
      color: #90caf9;
      font-size: 1.875rem; }
      @media (max-width: 575px) {
        .section-intro .jumbotron .intro-title .animated-text {
          font-size: 1.75rem; } }
      .section-intro .jumbotron .intro-title .animated-text .particles-wrapper {
        position: absolute;
        width: 400px;
        height: 200px;
        left: -50px;
        top: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
      .section-intro .jumbotron .intro-title .animated-text .intro-text {
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        color: white; }
        .section-intro .jumbotron .intro-title .animated-text .intro-text.inverted {
          color: white;
          -moz-transition: 0.3s;
          -o-transition: 0.3s;
          -webkit-transition: 0.3s;
          transition: 0.3s; }
      .section-intro .jumbotron .intro-title .animated-text span {
        display: block;
        opacity: 0;
        float: left; }
        @media (max-width: 575px) {
          .section-intro .jumbotron .intro-title .animated-text span {
            width: 100%;
            text-align: center; } }
      .section-intro .jumbotron .intro-title .animated-text i {
        display: block;
        margin: 0 1rem;
        opacity: 0;
        float: left;
        font-style: normal; }
        @media (max-width: 575px) {
          .section-intro .jumbotron .intro-title .animated-text i {
            width: 100%;
            text-align: center;
            margin: 0; } }

.page.home .mask-text {
  height: 532px; }
.page.home .slide-box .row {
  -webkit-justify-content: center;
  justify-content: center; }
@media screen and (max-width: 1335px) {
  .page.home .slide-box .slide-img {
    width: 25% !important; }
  .page.home .slide-img.arrow-box, .page.home .blank-box {
    display: none !important; } }
@media (max-width: 991px) {
  .page.home .rocket-wrp {
    display: none; }
  .page.home .more-about .more-about-us {
    margin-top: 4rem !important;
    margin-left: 0 !important;
    padding: 0 3rem; }
    .page.home .more-about .more-about-us h4 {
      width: 100% !important;
      font-size: 1.5rem !important; }
  .page.home .banner {
    height: auto !important; }
    .page.home .banner .jumbotron {
      padding: 5rem 2rem 6rem !important; }
    .page.home .banner .banner-caption {
      width: 100% !important; }
  .page.home .slides .slide-box .slide-img {
    width: 50% !important; }
  .page.home .slide-img.arrow-box, .page.home .blank-box {
    display: none !important; } }
@media (max-width: 767px) {
  .page.home .our-works .thumbnail .thumbnail-top-section {
    z-index: 1; }
  .page.home .our-works .thumbnail:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.44);
    z-index: 0; }
  .page.home .our-works .thumbnail .thumbnail-top-section {
    height: calc(100% - 2rem);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .page.home .our-works .thumbnail .caption {
    display: none; }
  .page.home .more-about-us .col-sm-12:first-of-type .core-about {
    margin-top: 2rem !important; }
  .page.home .more-about-us .col-sm-12:last-of-type .core-about {
    margin-bottom: 4rem !important; }
  .page.home .section-intro .jumbotron .intro-title .animated-text .intro-text {
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    width: 100%;
    clear: both; }
  .page.home .section-intro .jumbotron .intro-title .animated-text .particles-wrapper {
    text-align: center !important;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateY(0); }
  .page.home .team-description-wrp {
    padding: 0 !important; }
  .page.home .team-description {
    padding-top: 1.5rem !important;
    padding-bottom: 3rem;
    padding-left: 0 !important;
    width: 100%; }
  .page.home .company-logos ul {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: unset !important;
    justify-content: unset !important;
    overflow: auto; }
    .page.home .company-logos ul li {
      float: left;
      padding: 1rem 0; }
  .page.home .core-about {
    display: -webkit-flex;
    display: flex;
    padding: 0 1rem;
    margin-top: 1.5rem !important; }
    .page.home .core-about .icon {
      margin-right: .7rem; }
      .page.home .core-about .icon + .font-weight-bold {
        margin-top: 0 !important;
        line-height: normal; }
    .page.home .core-about .text p {
      font-size: 1rem !important;
      text-align: left; }
  .page.home .banner .jumbotron h1 {
    text-align: center !important;
    font-size: 2rem;
    font-weight: 600 !important; }
  .page.home .mask-wrp {
    display: none; } }
@media (max-width: 767px) {
  .page.home section {
    height: auto !important; } }
.page.home .slides .slide-box .slide-img span {
  width: 100px; }
  .page.home .slides .slide-box .slide-img span img {
    width: 100% !important;
    height: auto; }
.page.home .banner {
  background-color: #dc0028;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFDC0028', endColorstr='#FFE74E7A');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RjMDAyOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3NGU3YSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #dc0028), color-stop(100%, #e74e7a));
  background-image: -moz-linear-gradient(left, #dc0028 0%, #e74e7a 100%);
  background-image: -webkit-linear-gradient(left, #dc0028 0%, #e74e7a 100%);
  background-image: linear-gradient(to right, #dc0028 0%, #e74e7a 100%); }
  .page.home .banner .jumbotron h1 {
    text-align: left;
    color: #fff;
    font-weight: 600;
    margin: 0; }
    @media (min-width: 1600px) {
      .page.home .banner .jumbotron h1 {
        font-size: 4rem; } }
    @media (min-width: 1921px) {
      .page.home .banner .jumbotron h1 {
        font-size: 5rem; } }
  .page.home .banner .jumbotron img {
    max-width: 100%;
    max-height: 100%;
    margin: auto; }
@keyframes scroll {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -webkit-transform: translateY(15px);
    transform: translateY(15px); } }
  .page.home .banner .scroll-icon {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 0.875rem; }
@-moz-keyframes scroll {
  0% {
    -moz-transform: translateY(5px);
    transform: translateY(5px); }
  50% {
    -moz-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -moz-transform: translateY(5px);
    transform: translateY(5px); } }
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px); }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px); } }
@keyframes scroll {
  0% {
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transform: translateY(5px); }
  50% {
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transform: translateY(5px); } }
    .page.home .banner .scroll-icon .scroll-down {
      display: block;
      width: 24px;
      height: 32px;
      -moz-border-radius: 12px;
      -webkit-border-radius: 12px;
      border-radius: 12px;
      border: 1px solid #eeeeee;
      text-align: center; }
      .page.home .banner .scroll-icon .scroll-down:after {
        display: block;
        margin: auto;
        width: 4px;
        height: 8px;
        background-color: #eeeeee;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        content: "";
        -moz-animation: scroll 1.3s ease-out infinite forwards;
        -webkit-animation: scroll 1.3s ease-out infinite forwards;
        animation: scroll 1.3s ease-out infinite forwards; }
.page.home .team {
  padding: 0 3rem;
  position: relative; }
  .page.home .team .team-description {
    padding-top: 4rem;
    padding-left: 3rem; }
    .page.home .team .team-description h3 {
      font-size: 2.25rem;
      font-weight: bolder; }
      @media (min-width: 1200px) {
        .page.home .team .team-description h3 {
          font-size: 2.5rem; } }
      @media (min-width: 1600px) {
        .page.home .team .team-description h3 {
          font-size: 3.5rem; } }
    .page.home .team .team-description p {
      font-size: 1.375rem;
      color: #616161; }
      @media (min-width: 1200px) {
        .page.home .team .team-description p {
          font-size: 1.5rem;
          font-weight: 400; } }
      @media (min-width: 1600px) {
        .page.home .team .team-description p {
          font-size: 2rem;
          font-weight: 400; } }
    .page.home .team .team-description a {
      text-transform: uppercase;
      color: #212121;
      font-size: 1rem;
      font-weight: 600;
      text-decoration: none; }
      @media (min-width: 1200px) {
        .page.home .team .team-description a {
          font-size: 1.125rem; } }
      @media (min-width: 1600px) {
        .page.home .team .team-description a {
          font-size: 1.5rem; } }
  .page.home .team h1 {
    background-image: url(../img/text-bg.jpg);
    -moz-background-clip: text;
    -o-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 435px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    font-weight: bolder;
    position: absolute;
    top: 2.1875rem;
    bottom: 0;
    height: 600px; }
  .page.home .team .text-mask {
    background-image: url(../img/text-bg.jpg);
    color: transparent;
    background-position: -50% center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    overflow: hidden;
    position: absolute;
    bottom: 5rem;
    left: 3rem;
    height: 18rem; }
    .page.home .team .text-mask img {
      height: 18rem;
      display: block; }
  .page.home .team:after {
    content: '';
    width: 1070px;
    height: 532px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #F7F7F7;
    z-index: -9; }
.page.home .slides .slide-box .slide-img {
  width: 268px;
  height: 150px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .page.home .slides .slide-box .slide-img span {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .page.home .slides .slide-box .slide-img span:first-of-type {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      -moz-transition: all 0.8s;
      -o-transition: all 0.8s;
      -webkit-transition: all 0.8s;
      transition: all 0.8s; }
      .page.home .slides .slide-box .slide-img span:first-of-type.android {
        background: #73b732; }
      .page.home .slides .slide-box .slide-img span:first-of-type.angular {
        background: #d85167; }
      .page.home .slides .slide-box .slide-img span:first-of-type.m-net {
        background: #7867e4; }
      .page.home .slides .slide-box .slide-img span:first-of-type.python {
        background: #f98b56; }
    .page.home .slides .slide-box .slide-img span:last-of-type {
      z-index: 999; }
  .page.home .slides .slide-box .slide-img.blank-box {
    width: 145px;
    height: 150px; }
  .page.home .slides .slide-box .slide-img.arrow-box {
    align-items: center;
    width: 100px;
    height: 147px;
    display: flex;
    justify-content: center; }
    .page.home .slides .slide-box .slide-img.arrow-box a {
      font-size: 1.5rem;
      color: #000; }
  .page.home .slides .slide-box .slide-img:hover span:first-of-type {
    -moz-transform: scale(1.3) !important;
    -ms-transform: scale(1.3) !important;
    -webkit-transform: scale(1.3) !important;
    transform: scale(1.3) !important; }
@-webkit-keyframes MOVE-BG {
  from {
    background-position: 415px 354px; }
  to {
    background-position: 415px 74px; } }
@keyframes MOVE-BG {
  from {
    background-position: 415px 354px; }
  to {
    background-position: 415px 74px; } }
.page.home .more-about .bg-blue {
  background: url("../img/more-about-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden; }
.page.home .more-about .bg-rocket {
  position: absolute;
  right: 25%;
  height: 100%; }
  .page.home .more-about .bg-rocket img {
    height: 100%; }
.page.home .more-about .more-about-us {
  margin-top: 10rem; }
  .page.home .more-about .more-about-us h4 {
    font-size: 1.375rem;
    width: 76%;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: #616161; }
    @media (min-width: 1200px) {
      .page.home .more-about .more-about-us h4 {
        font-size: 1.5rem;
        font-weight: 400; } }
    @media (min-width: 1600px) {
      .page.home .more-about .more-about-us h4 {
        font-size: 2rem;
        font-weight: 400; } }
  .page.home .more-about .more-about-us a {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: #212121; }
    @media (min-width: 1200px) {
      .page.home .more-about .more-about-us a {
        font-size: 1.125rem; } }
    @media (min-width: 1600px) {
      .page.home .more-about .more-about-us a {
        font-size: 1.5rem; } }
  .page.home .more-about .more-about-us .core-about .text p {
    font-size: .8125rem; }
  .page.home .more-about .more-about-us .core-about .icon img {
    width: 40px; }
.page.home .our-works {
  background: #f7f7f7; }
  .page.home .our-works .section-header {
    padding: 2.5rem 0;
    text-align: center; }
    .page.home .our-works .section-header h3 {
      font-size: 2.5rem;
      font-weight: 800; }
    .page.home .our-works .section-header p {
      width: 53%;
      margin: 0px auto;
      font-size: 15px;
      color: #6B6B6B; }
  .page.home .our-works .thumbnail {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .page.home .our-works .thumbnail .goto-detail {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%; }
    .page.home .our-works .thumbnail .thumbnail-top-section {
      position: absolute;
      left: 3.5rem;
      top: 1rem; }
    .page.home .our-works .thumbnail .thumbnail-logo {
      height: 25px;
      margin-bottom: .3rem; }
      .page.home .our-works .thumbnail .thumbnail-logo img {
        width: auto;
        height: auto; }
    .page.home .our-works .thumbnail .small-caption {
      color: white;
      font-size: .8rem;
      letter-spacing: .03rem; }
    .page.home .our-works .thumbnail .caption {
      bottom: 1rem;
      left: 3.5rem;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
      .page.home .our-works .thumbnail .caption p {
        margin-bottom: 0px;
        color: #fff;
        font-size: 1rem;
        letter-spacing: 1.2px;
        font-weight: 600;
        position: relative;
        top: 1rem;
        left: 5;
        opacity: 0;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s; }
      .page.home .our-works .thumbnail .caption h3 {
        font-size: 2rem;
        font-weight: 800;
        position: relative;
        left: 0;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        color: #fff;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
        @media (max-width: 991px) {
          .page.home .our-works .thumbnail .caption h3 {
            font-size: 1.5rem; } }
      .page.home .our-works .thumbnail .caption::before {
        content: '';
        width: 0px;
        position: absolute;
        height: 0px;
        background: #fff;
        bottom: 42px;
        margin-left: -38px;
        transform: rotate(103deg);
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s; }
    .page.home .our-works .thumbnail:hover .caption h3 {
      position: relative;
      left: 5px; }
    .page.home .our-works .thumbnail:hover .caption p {
      opacity: 1;
      top: 0;
      left: 5px; }
    .page.home .our-works .thumbnail:hover .caption::before {
      content: '';
      width: 55px;
      position: absolute;
      height: 1px;
      background: #fff;
      bottom: 42px;
      margin-left: -38px;
      transform: rotate(103deg); }
  .page.home .our-works .more-projects {
    font-size: .9375rem;
    font-weight: 700;
    color: #212529;
    text-decoration: none; }
.page.home .company-logos ul li img {
  width: 160px; }

html {
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }

.white-nav:before {
  background-color: white; }
.white-nav .menu-btn {
  color: white; }
  .white-nav .menu-btn:after {
    background-color: white !important; }
  .white-nav .menu-btn:hover:after {
    background-color: white !important; }
.white-nav ul li {
  color: white; }

.about-us .banner {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  width: 100%;
  overflow: hidden;
  background-color: #5040b2;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF5040B2', endColorstr='#FF7969E6');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUwNDBiMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc5NjllNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #5040b2), color-stop(100%, #7969e6));
  background-image: -moz-linear-gradient(left, #5040b2 0%, #7969e6 100%);
  background-image: -webkit-linear-gradient(left, #5040b2 0%, #7969e6 100%);
  background-image: linear-gradient(to right, #5040b2 0%, #7969e6 100%); }
  .about-us .banner .particles-cont {
    width: 100%;
    padding: 0 4rem;
    margin-bottom: 2.5rem; }
    .about-us .banner .particles-cont h3 {
      font-size: 2rem;
      text-align: left;
      color: #fff;
      bottom: 2rem;
      margin-bottom: 0; }
      @media (max-width: 767px) {
        .about-us .banner .particles-cont h3 {
          font-size: 2rem; } }
      @media (max-width: 577px) {
        .about-us .banner .particles-cont h3 {
          font-size: 1.5rem;
          font-weight: 400; } }
    .about-us .banner .particles-cont h4 {
      margin-bottom: 0;
      font-weight: 600;
      color: white; }
    .about-us .banner .particles-cont a {
      color: white;
      text-decoration: underline; }
.about-us .particles {
  height: 100%; }
  .about-us .particles canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.team-exp {
  padding: 4rem;
  position: relative;
  z-index: 1; }
  @media (max-width: 991px) {
    .team-exp {
      padding: 3rem; } }
  .team-exp .media {
    width: 55%;
    margin: auto;
    -webkit-align-items: center;
    align-items: center;
    padding-bottom: 3.5rem;
    margin-bottom: 3.5rem;
    border-bottom: 1px solid gainsboro; }
    .team-exp .media .media-body {
      font-size: 1.25rem;
      color: #565656; }
      @media (max-width: 991px) {
        .team-exp .media .media-body {
          font-size: 1.1rem; } }
      .team-exp .media .media-body h4 {
        color: #40404c; }
    .team-exp .media:last-of-type {
      border-bottom: none; }
    .team-exp .media .media-left {
      margin-right: 1rem;
      width: 100px;
      height: 100px; }
    .team-exp .media .media-right {
      margin-left: 1rem;
      width: 100px;
      height: 100px; }
    .team-exp .media .media-heading {
      font-size: 1.7rem;
      font-weight: 600;
      margin-bottom: 1rem; }
      @media (max-width: 991px) {
        .team-exp .media .media-heading {
          font-size: 1.6rem; } }
    .team-exp .media .media-object {
      width: 100%;
      height: 100%; }
    @media (max-width: 991px) {
      .team-exp .media {
        padding-bottom: 2.5rem;
        margin-bottom: 2.5rem; } }

.our-process {
  background-color: #3d3d3d;
  min-height: 550px;
  overflow: hidden; }
  .our-process .swiper-pagination-bullets {
    top: 20%;
    font-weight: 600; }
  .our-process .swiper-container {
    margin: 0 3.5rem;
    padding: 0 2rem;
    height: 550px;
    overflow: visible; }
    @media screen and (max-width: 991px) {
      .our-process .swiper-container {
        margin: 0 0rem 0 3rem;
        padding: 0 2rem 0 0rem; } }
    @media (max-width: 575px) {
      .our-process .swiper-container {
        margin: 0 0rem 0 1rem;
        padding: 0 2rem 0 0rem; } }
    .our-process .swiper-container .our-process-caption {
      position: absolute;
      right: 0;
      color: white;
      font-weight: 600;
      top: 2rem; }
  .our-process .swiper-slide {
    text-align: left;
    font-size: 18px;
    color: #fff;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center; }
    .our-process .swiper-slide .swiper-heading h3 {
      position: relative;
      font-weight: 600;
      -moz-transform: translateX(0px) translateY(-30px);
      -ms-transform: translateX(0px) translateY(-30px);
      -webkit-transform: translateX(0px) translateY(-30px);
      transform: translateX(0px) translateY(-30px);
      opacity: 0; }
    .our-process .swiper-slide .swiper-heading .checkmark {
      position: relative;
      -moz-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      -webkit-transform: rotate(35deg);
      transform: rotate(35deg);
      display: inline-block;
      bottom: 10px;
      left: 0rem;
      opacity: 0;
      -moz-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
      -webkit-transition-delay: 0.1s;
      transition-delay: 0.1s;
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out; }
      .our-process .swiper-slide .swiper-heading .checkmark .checkmark_stem {
        position: absolute;
        width: 0px;
        height: 0px;
        background-color: transparent;
        left: 11px;
        bottom: 6px;
        -moz-transition-delay: 0.5s;
        -o-transition-delay: 0.5s;
        -webkit-transition-delay: 0.5s;
        transition-delay: 0.5s;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out; }
      .our-process .swiper-slide .swiper-heading .checkmark .checkmark_kick {
        position: absolute;
        width: 0px;
        height: 0px;
        background-color: transparent;
        left: 5px;
        bottom: 3px;
        -moz-transition-delay: 0.8s;
        -o-transition-delay: 0.8s;
        -webkit-transition-delay: 0.8s;
        transition-delay: 0.8s;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out; }
    .our-process .swiper-slide .swiper-heading p {
      -moz-transition-delay: 0.5s;
      -o-transition-delay: 0.5s;
      -webkit-transition-delay: 0.5s;
      transition-delay: 0.5s;
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out;
      -moz-transform: translateX(0px) translateY(30px);
      -ms-transform: translateX(0px) translateY(30px);
      -webkit-transform: translateX(0px) translateY(30px);
      transform: translateX(0px) translateY(30px);
      opacity: 0; }
    .our-process .swiper-slide.swiper-slide-active h3 {
      opacity: 1;
      -moz-transition: all 0.8s ease-out;
      -o-transition: all 0.8s ease-out;
      -webkit-transition: all 0.8s ease-out;
      transition: all 0.8s ease-out;
      -moz-transform: translateX(0px) translateY(0px);
      -ms-transform: translateX(0px) translateY(0px);
      -webkit-transform: translateX(0px) translateY(0px);
      transform: translateX(0px) translateY(0px); }
    .our-process .swiper-slide.swiper-slide-active .checkmark {
      opacity: 1; }
      .our-process .swiper-slide.swiper-slide-active .checkmark .checkmark_kick {
        background-color: #fff;
        width: 10px;
        height: 4px;
        transition-delay: .65s; }
      .our-process .swiper-slide.swiper-slide-active .checkmark .checkmark_stem {
        background-color: #fff;
        width: 4px;
        height: 17px;
        -moz-transition-delay: 0.8s;
        -o-transition-delay: 0.8s;
        -webkit-transition-delay: 0.8s;
        transition-delay: 0.8s; }
    .our-process .swiper-slide.swiper-slide-active p {
      opacity: 1;
      -moz-transform: translateX(0px) translateY(0px);
      -ms-transform: translateX(0px) translateY(0px);
      -webkit-transform: translateX(0px) translateY(0px);
      transform: translateX(0px) translateY(0px); }
    .our-process .swiper-slide .swiper-body {
      padding-right: 3rem;
      padding-left: 3rem;
      float: left;
      width: 100%; }
      .our-process .swiper-slide .swiper-body:after {
        content: '';
        display: table;
        clear: both; }
      .our-process .swiper-slide .swiper-body h3 {
        display: inline-block;
        font-size: 2.7rem; }
        @media screen and (max-width: 991px) {
          .our-process .swiper-slide .swiper-body h3 {
            font-size: 2.3rem; } }
      .our-process .swiper-slide .swiper-body p {
        color: #ababab;
        font-weight: 600;
        font-size: 1.9rem;
        line-height: 2.4rem;
        margin: 0; }
        @media screen and (max-width: 991px) {
          .our-process .swiper-slide .swiper-body p {
            font-size: 1.3rem; } }
  .our-process .swiper-pagination-bullet {
    color: white;
    width: auto;
    height: auto;
    background: transparent !important;
    font-size: 1.3rem;
    outline: none;
    /* &:after {
      content: '';
      left: 0;
      width: 0;
      top: calc(50% - 1px);
      height: 2px;
      background-color: white;
      display: block;
      position: absolute;
      @include transition(all .2s ease-out);
      @include transition-delay(700ms);
    } */
    /* &.swiper-pagination-bullet-active {
      position: relative;
      &:after {
        width: 100%;
      }
    } */ }
  .our-process .swiper-container-vertical > .swiper-pagination-bullets {
    left: 10px;
    right: auto; }

.technology-team {
  padding: 4rem; }
  .technology-team .section-caption {
    font-size: 1.9rem;
    font-weight: bolder;
    text-align: center; }
  .technology-team .team-list {
    list-style: none;
    padding: 0;
    margin: auto; }
    .technology-team .team-list li {
      float: left;
      text-align: center; }
      .technology-team .team-list li:last-of-type {
        margin-right: 0; }
      .technology-team .team-list li .avatar {
        width: 195px;
        height: 195px;
        margin: 0rem auto; }
        .technology-team .team-list li .avatar img {
          width: 100%;
          height: auto; }
      .technology-team .team-list li h4 {
        margin: 0;
        line-height: 1.2rem;
        font-weight: 600;
        font-size: 1.4rem; }
  .technology-team:after {
    display: table;
    content: '';
    clear: both; }

.text-slogan {
  background-color: #f0e6dd;
  padding: 4rem;
  position: relative;
  min-height: 330px; }
  .text-slogan a {
    text-decoration: none !important;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out; }
    .text-slogan a:hover {
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      transform: scale(1.05); }
  .text-slogan:after {
    display: table;
    content: '';
    clear: both; }
  .text-slogan .slg {
    color: #64615e;
    font-weight: 700;
    background-image: url(../img/icons/arr1.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    margin-bottom: 0;
    padding-bottom: 2.5rem;
    background-size: 32px;
    line-height: 2rem;
    font-size: 1.9rem; }
    .text-slogan .slg:nth-of-type(odd) {
      float: left;
      margin-left: 10rem; }
    .text-slogan .slg:nth-of-type(even) {
      float: right;
      margin-right: 10rem;
      margin-top: 10rem; }

.our-process .swiper-pagination-bullet:nth-of-type(1), .swiper-visited {
  color: white !important;
  opacity: 1 !important;
  position: relative !important; }

@media screen and (max-width: 1099px) {
  .team-exp .media {
    width: 95%; }

  .about-us .banner .particles-cont {
    display: block;
    padding: 0rem 3rem 0rem 3rem; }
    .about-us .banner .particles-cont h3 {
      width: calc(100%); } }
@media screen and (max-width: 1060px) {
  .text-slogan .slg:nth-of-type(even) {
    margin-top: 6rem; } }
@media (max-width: 991px) {
  .about-us .banner .particles-cont {
    padding: 5rem 0rem 3rem;
    margin-bottom: 0; }
    .about-us .banner .particles-cont h3 {
      font-size: 1.7rem;
      padding: 0rem 2rem 0rem 2rem; }

  .technology-team .team-list li h4 {
    font-size: 1.2rem; }
  .technology-team .team-list li .avatar {
    width: 174px;
    height: 174px; } }
.about-right-elm {
  text-align: center; }

@media (max-width: 767px) {
  .about-right-elm {
    text-align: right;
    margin-bottom: -30px; }

  .our-process .swiper-container-vertical > .swiper-pagination-bullets {
    left: 0px; }
  .our-process .swiper-slide {
    text-align: center;
    padding-left: 2rem;
    padding-top: 3rem; }
  .our-process .swiper-container .our-process-caption {
    left: 0;
    margin: auto;
    text-align: right;
    right: 1rem;
    font-style: italic; }

  .about-us .banner .particles-cont h4 {
    display: none; }

  .about-us .right-cont {
    float: none;
    margin: auto;
    display: table; }

  .team-exp .media {
    width: 100%;
    -webkit-flex-direction: column;
    flex-direction: column; }
    .team-exp .media.md-right {
      -webkit-flex-direction: column-reverse;
      flex-direction: column-reverse; }
    .team-exp .media .media-body {
      text-align: center; }
      .team-exp .media .media-body .media-heading {
        margin-top: 1rem; }
    .team-exp .media:last-of-type {
      padding-bottom: 0rem;
      margin-bottom: 0rem; }

  .our-process .swiper-slide .swiper-body {
    padding-right: 0;
    padding-left: 0; }

  .text-slogan .slg {
    margin-right: auto !important;
    margin-left: auto !important;
    float: none !important;
    display: table !important; }
    .text-slogan .slg:last-of-type {
      margin-bottom: 0 !important; } }
@media (max-width: 575px) {
  .our-process .swiper-slide {
    text-align: left;
    padding-left: 3rem; }
    .our-process .swiper-slide .swiper-body h3 {
      font-size: 1.875rem; }
    .our-process .swiper-slide .swiper-body p {
      line-height: 1.4;
      font-weight: 400;
      font-size: 1.2rem; } }
#ourProcess .swiper-pagination-bullet {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out; }

/* #ourProcess .swiper-pagination-bullet {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  @include animation(zoomin 1s infinite);
}

@-webkit-keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
}
@keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
} */
.technical-overview .banner {
  display: flex;
  padding: 0 2rem;
  margin-bottom: 2.5rem;
  background-color: #5040b2;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF5040B2', endColorstr='#FF7969E5');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUwNDBiMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc5NjllNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #5040b2), color-stop(100%, #7969e5));
  background-image: -moz-linear-gradient(left, #5040b2 0%, #7969e5 100%);
  background-image: -webkit-linear-gradient(left, #5040b2 0%, #7969e5 100%);
  background-image: linear-gradient(to right, #5040b2 0%, #7969e5 100%); }
  @media (max-width: 991px) {
    .technical-overview .banner .banner-wrp {
      padding: 5rem 2rem 3rem; }
      .technical-overview .banner .banner-wrp h3 {
        font-size: 2.5rem; }
      .technical-overview .banner .banner-wrp .particles-cont {
        width: 100%; }
    .technical-overview .banner .mdrift-logo {
      display: none; } }
  @media (max-width: 767px) {
    .technical-overview .banner .banner-wrp {
      padding: 5rem 0 3rem; }
      .technical-overview .banner .banner-wrp h3 {
        font-size: 1.875rem; }
      .technical-overview .banner .banner-wrp p {
        font-size: 1.125rem;
        line-height: 1.4; } }
.technical-overview .particles {
  height: 100%; }
  .technical-overview .particles canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    @media (max-width: 767px) {
      .technical-overview .particles canvas {
        opacity: .5; } }
@media (max-width: 991px) {
  .technical-overview .technologies-view ul li {
    margin-right: 2.2rem !important; } }
.technical-overview .banner-wrp {
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
  padding: 0 2rem; }
  .technical-overview .banner-wrp h3 {
    color: white;
    font-size: 2.9rem;
    font-weight: 600; }
  .technical-overview .banner-wrp p {
    font-size: 1.4rem;
    color: white;
    margin-bottom: 0;
    width: 95%;
    font-weight: 300; }
  .technical-overview .banner-wrp .mdrift-logo {
    width: 160px;
    height: 160px;
    margin-left: 4%;
    position: relative; }
    .technical-overview .banner-wrp .mdrift-logo img {
      width: 100%;
      height: auto; }
  .technical-overview .banner-wrp .particles-cont {
    width: 70%; }
.technical-overview .technologies-view {
  margin: 0 1.5rem;
  padding: 3rem 5rem; }
  .technical-overview .technologies-view .tec {
    clear: both;
    display: block;
    margin-bottom: 5rem; }
    .technical-overview .technologies-view .tec:last-of-type {
      margin-bottom: 0; }
    .technical-overview .technologies-view .tec:after {
      display: table;
      content: '';
      clear: both; }
  @media (max-width: 767px) {
    .technical-overview .technologies-view {
      padding: 3rem 0; } }
  .technical-overview .technologies-view h4 {
    font-weight: 600;
    margin-bottom: 1rem; }
  .technical-overview .technologies-view ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .technical-overview .technologies-view ul li {
      height: 43px;
      width: auto;
      float: left;
      margin-right: 3.5rem;
      margin-bottom: 1rem; }
      .technical-overview .technologies-view ul li:last-of-type {
        margin-right: 0; }
      .technical-overview .technologies-view ul li img {
        width: auto;
        height: 100%; }
  .technical-overview .technologies-view:after {
    display: table;
    content: '';
    clear: both; }

@media (max-width: 991px) {
  .technical-overview footer .mobile-footer {
    display: none; }

  .about-us footer .mobile-footer {
    display: none; } }
@media (max-width: 767px) {
  .social-icons {
    display: none !important; } }
.page.projects {
  background-color: #F9EFE6; }
  .page.projects .banner {
    overflow: hidden; }
    @media (max-width: 767px) {
      .page.projects .banner .jumbotron {
        padding: 6rem 0 7rem;
        margin: 0; } }
    .page.projects .banner .display-4 {
      font-weight: 700;
      font-size: 4.2rem;
      max-width: 45rem;
      color: #424242; }
      @media (max-width: 767px) {
        .page.projects .banner .display-4 {
          font-size: 3rem; } }
      @media (max-width: 567px) {
        .page.projects .banner .display-4 {
          font-size: 2.3rem;
          padding: 1.4rem 1rem 0; } }
  .page.projects .card {
    max-width: 62rem;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 0 center;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #424242;
    font-size: 1rem;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    @media (min-width: 768px) {
      .page.projects .card:hover {
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        -moz-transform: scale(0.93) !important;
        -ms-transform: scale(0.93) !important;
        -webkit-transform: scale(0.93) !important;
        transform: scale(0.93) !important;
        -moz-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
        box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3); } }
    @media (max-width: 767px) {
      .page.projects .card {
        font-size: 0.75rem; }
        .page.projects .card img {
          max-height: 1.5rem; } }
    @media (min-width: 1300px) {
      .page.projects .card {
        max-width: 1152px; } }
    @media (min-width: 1600px) {
      .page.projects .card {
        max-width: 1400px; } }
    @media (min-width: 1921px) {
      .page.projects .card {
        max-width: 1800px; } }
    @media (max-width: 577px) {
      .page.projects .card {
        max-width: 100%; } }
    .page.projects .card small {
      font-size: 90%; }
    .page.projects .card .card-text {
      font-weight: 700;
      font-size: 1.875rem;
      margin: 0;
      line-height: normal; }
      @media (max-width: 991px) {
        .page.projects .card .card-text {
          font-size: 1.5rem; } }
      @media (max-width: 767px) {
        .page.projects .card .card-text {
          font-size: 1.25rem;
          padding: 1.75rem 0; } }
      @media (max-width: 575px) {
        .page.projects .card .card-text {
          font-size: 1rem; } }
    @media (max-width: 767px) {
      .page.projects .card .card-body-footer {
        line-height: normal;
        max-width: 50%; } }
    .page.projects .card a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
    @media (max-width: 767px) {
      .page.projects .card .w-40, .page.projects .card .w-50, .page.projects .card .w-60 {
        width: 90% !important;
        max-width: 90% !important; } }
@keyframes scroll {
  0% {
    opacity: 1;
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  100% {
    opacity: 0;
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px); } }
  .page.projects .scroll-icon {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 0.875rem; }
@-moz-keyframes scroll {
  0% {
    -moz-transform: translateY(5px);
    transform: translateY(5px); }
  50% {
    -moz-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -moz-transform: translateY(5px);
    transform: translateY(5px); } }
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px); }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px); } }
@keyframes scroll {
  0% {
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transform: translateY(5px); }
  50% {
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transform: translateY(5px); } }
    .page.projects .scroll-icon .scroll-down {
      display: block;
      width: 24px;
      height: 32px;
      -moz-border-radius: 12px;
      -webkit-border-radius: 12px;
      border-radius: 12px;
      border: 1px solid #616161;
      text-align: center; }
      .page.projects .scroll-icon .scroll-down:after {
        display: block;
        margin: auto;
        width: 4px;
        height: 8px;
        background-color: #616161;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        content: "";
        -moz-animation: scroll 1.3s ease-out infinite forwards;
        -webkit-animation: scroll 1.3s ease-out infinite forwards;
        animation: scroll 1.3s ease-out infinite forwards; }

.page.contact .page-caption {
  margin: 7rem 0 2rem;
  /* @media (max-width: 767px){
     margin: 4rem 0 4rem;
  } */ }
  .page.contact .page-caption h1 {
    text-align: left;
    font-size: 2.5rem;
    padding: 0 2rem;
    text-transform: uppercase;
    font-weight: 700;
    /* float: none; */
    position: relative; }
    @media (max-width: 575px) {
      .page.contact .page-caption h1 {
        padding: 0; } }
  .page.contact .page-caption p {
    position: relative;
    right: 0;
    font-size: 1.2rem;
    color: #848484;
    padding: 0 2rem; }
    @media (max-width: 575px) {
      .page.contact .page-caption p {
        padding: 0; } }
.page.contact .contact-form {
  width: 100%;
  padding: 0 3rem; }
  @media (max-width: 575px) {
    .page.contact .contact-form {
      padding: 0 15px; } }
  .page.contact .contact-form .form-group.row .form-control {
    height: calc(2.25rem + 8px); }
  .page.contact .contact-form .form-group.row .col-form-label {
    font-size: .875rem;
    font-weight: 600;
    display: flex;
    align-items: center; }
  .page.contact .contact-form .form-group.row textarea {
    height: 8rem !important; }
.page.contact .overlay-bg {
  background: #F7EBE2;
  padding-top: 7rem; }
  @media (max-width: 767px) {
    .page.contact .overlay-bg {
      padding-top: 3rem; } }
.page.contact .address-section {
  position: relative;
  padding: 0 3rem;
  z-index: 99;
  margin-bottom: 3rem;
  /*@media (max-width: 575px){
    padding-top: 3rem;
    .singapore-address.head-office {
      margin: 0 !important;
    }
    .singapore-address {
      background-size: 100%;
      padding: 0;
      &:first-of-type {
          height: 148px !important;
          background-position: bottom left;
      }
      &.head-office{
        margin-top: 3rem !important;
        height: 200px !important;
      }
      &.kochi-center {
        height: 182px !important;
      }
    }
  }*/
  /*.singapore-address {
    height: 250px;
    background: url('../img/contact-locations/singapore.png');
    background-repeat: no-repeat;
    background-size: 89%;
    background-position: center left;
    padding: 0 2rem;
    z-index: 99;
    h2 {        
      text-align: right;
      font-weight: 900;
      font-size: 1.8rem;
      margin-bottom: 0;
      white-space: nowrap;
      @media (max-width: 575px){
        font-size: 1.6rem;
      }
      span {
        font-weight: 400;
        font-size: 1.2rem;
        color: #848484;
      }
    }
    h4 {
      font-size: 21px;
      color: #848484;
    }
    &.kochi-center {
      height: 250px;
      background: url('../img/contact-locations/kochi.png');
      background-repeat: no-repeat;
      background-size: 80%;
      background-position: bottom left;
      margin-top: 3rem;
      @media (max-width: 575px){
        background-size: 100%;
      }
    }
    &.head-office {
      background: url('../img/contact-locations/bangalore.png');
      background-repeat: no-repeat;
      background-size: 75%;
      background-position: bottom right;
      margin-bottom: 5rem;
      margin-top: 2rem;
      @media (max-width: 575px){
        background-size: 100%;
      }
    }
  }*/ }
  @media (max-width: 767px) {
    .page.contact .address-section {
      padding: 0; } }
  .page.contact .address-section .contact-visual {
    width: 90%; }
    @media (max-width: 767px) {
      .page.contact .address-section .contact-visual {
        max-width: 100%;
        margin-top: 1rem; } }
    .page.contact .address-section .contact-visual img {
      width: 100%; }
  .page.contact .address-section h2 {
    font-weight: 900;
    font-size: 1.8rem;
    margin-bottom: 0;
    white-space: nowrap; }
    @media (max-width: 575px) {
      .page.contact .address-section h2 {
        font-size: 1.6rem; } }
    .page.contact .address-section h2 span {
      font-weight: 400;
      font-size: 1.2rem;
      color: #848484; }
  .page.contact .address-section h4 {
    max-width: 90%;
    font-size: 1.125rem;
    color: #616161; }

@media (max-width: 767px) {
  .page.project-details .next-project {
    padding-top: 1.5rem !important; }
  .page.project-details .project-content.bg-white {
    padding: 0 !important; } }
@media (max-width: 991px) {
  .page.project-details .container {
    max-width: 100%; } }
.page.project-details .banner {
  overflow: hidden; }
  @media (max-width: 575px) {
    .page.project-details .banner .jumbotron {
      padding: 5rem 0 1.5rem; } }
  .page.project-details .banner img {
    max-height: 2rem; }
    .page.project-details .banner img.max {
      max-height: 4rem; }
  .page.project-details .banner .display-4 {
    font-weight: 700;
    font-size: 3rem;
    margin: 0 0 1rem 0; }
    @media (max-width: 767px) {
      .page.project-details .banner .display-4 {
        font-size: 2.4rem; } }
  .page.project-details .banner p.lead {
    font-size: 1.125rem;
    margin: 0;
    font-weight: 400; }
  .page.project-details .banner h5 {
    font-weight: 700;
    margin: 0; }
    .page.project-details .banner h5 + p {
      margin: 0 0 1rem 0; }
    .page.project-details .banner h5:last-of-type + p {
      margin: 0; }
@keyframes scroll {
  0% {
    opacity: 1;
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  100% {
    opacity: 0;
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px); } }
.page.project-details .scroll-icon {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 0.875rem; }
  @media (max-width: 767px) {
    .page.project-details .scroll-icon {
      display: none; } }
@-moz-keyframes scroll {
  0% {
    -moz-transform: translateY(5px);
    transform: translateY(5px); }
  50% {
    -moz-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -moz-transform: translateY(5px);
    transform: translateY(5px); } }
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px); }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px); } }
@keyframes scroll {
  0% {
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transform: translateY(5px); }
  50% {
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transform: translateY(5px); } }
  .page.project-details .scroll-icon .scroll-down {
    display: block;
    width: 24px;
    height: 32px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #eeeeee;
    text-align: center; }
    .page.project-details .scroll-icon .scroll-down:after {
      display: block;
      margin: auto;
      width: 4px;
      height: 8px;
      background-color: #eeeeee;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      content: "";
      -moz-animation: scroll 1.3s ease-out infinite forwards;
      -webkit-animation: scroll 1.3s ease-out infinite forwards;
      animation: scroll 1.3s ease-out infinite forwards; }
.page.project-details .parallax-wrapper {
  height: 25rem;
  overflow: hidden;
  position: relative;
  background-color: white; }
  @media (max-width: 767px) {
    .page.project-details .parallax-wrapper {
      height: 15rem; } }
  @media (max-width: 575px) {
    .page.project-details .parallax-wrapper {
      height: 10rem; } }
  .page.project-details .parallax-wrapper .parallax-bg {
    background: no-repeat center center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 150%;
    z-index: 1; }
.page.project-details .project-thumb {
  padding: 5rem 0; }
  .page.project-details .project-thumb .autoscroll {
    overflow: hidden;
    height: 50vh;
    min-height: 12.5rem;
    position: relative; }
.page.project-details .project-content {
  padding: 3rem 0;
  color: #616161;
  font-size: 1.125rem; }
  .page.project-details .project-content h3 {
    font-size: 2.25rem;
    font-weight: 700;
    color: #212121; }
.page.project-details footer {
  position: relative;
  z-index: 1; }
.page.project-details section {
  position: relative;
  z-index: 1; }
  .page.project-details section.wipe-trigger {
    z-index: -1; }
  .page.project-details section.next-project {
    padding: 3rem 0;
    background-color: #e0e0e0;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0; }
    .page.project-details section.next-project .card {
      max-width: 100%;
      background-repeat: no-repeat;
      -moz-background-size: cover;
      -o-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
      border: none;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      color: #424242;
      font-size: 0.9375rem; }
      @media (max-width: 767px) {
        .page.project-details section.next-project .card {
          font-size: 0.75rem; } }
      .page.project-details section.next-project .card small {
        font-size: 90%; }
      .page.project-details section.next-project .card .card-text {
        font-weight: 700;
        font-size: 1.5rem;
        margin: 0;
        line-height: normal; }
        @media (max-width: 767px) {
          .page.project-details section.next-project .card .card-text {
            font-size: 1.25rem;
            padding: 1.75rem 0; } }
        @media (max-width: 575px) {
          .page.project-details section.next-project .card .card-text {
            font-size: 1rem; } }
      @media (max-width: 767px) {
        .page.project-details section.next-project .card .card-body-footer {
          line-height: normal;
          max-width: 50%; } }
      .page.project-details section.next-project .card a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }
      @media (max-width: 767px) {
        .page.project-details section.next-project .card .w-40, .page.project-details section.next-project .card .w-50, .page.project-details section.next-project .card .w-60 {
          width: 90% !important;
          max-width: 90% !important; } }
.page .bg-firebrick {
  background-color: #D5403F; }
.page .bg-grape {
  background-color: #393848; }
.page .bg-cornflower {
  background-color: #416ED3; }
.page .bg-burlywood {
  background-color: #4c576a; }
.page .bg-8sidor {
  background-color: #fdd5c0; }
  .page .bg-8sidor .project-thumb {
    background-color: #fdd5c0 !important; }
  .page .bg-8sidor .scroll-down {
    border-color: #333333 !important; }
    .page .bg-8sidor .scroll-down:after {
      background-color: #333333 !important; }
  .page .bg-8sidor * {
    color: #333333; }
.page .bg-rocxia, .page .bg-isp {
  background-color: #fb974e; }
  .page .bg-rocxia .scroll-down, .page .bg-isp .scroll-down {
    border-color: white !important; }
    .page .bg-rocxia .scroll-down:after, .page .bg-isp .scroll-down:after {
      background-color: white !important; }
  .page .bg-rocxia *, .page .bg-isp * {
    color: white; }
.page .bg-isp {
  background: #5C4597; }
  .page .bg-isp .company-logo {
    padding-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 600; }

.marketing .banner {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  width: 100%;
  overflow: hidden;
  background-color: #F3591A;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFF3591A', endColorstr='#FFF2721B');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzNTkxYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyNzIxYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #f3591a), color-stop(100%, #f2721b));
  background-image: -moz-linear-gradient(left, #f3591a 0%, #f2721b 100%);
  background-image: -webkit-linear-gradient(left, #f3591a 0%, #f2721b 100%);
  background-image: linear-gradient(to right, #f3591a 0%, #f2721b 100%); }
  .marketing .banner .particles-cont {
    width: 100%;
    padding: 0 4rem;
    margin-bottom: 2.5rem; }
    .marketing .banner .particles-cont h3 {
      font-size: 2rem;
      text-align: left;
      color: #fff;
      bottom: 2rem;
      margin-bottom: 0; }
      @media (max-width: 767px) {
        .marketing .banner .particles-cont h3 {
          font-size: 2rem; } }
      @media (max-width: 577px) {
        .marketing .banner .particles-cont h3 {
          font-size: 1.5rem;
          font-weight: 400; } }
    .marketing .banner .particles-cont h4 {
      margin-bottom: 0;
      font-weight: 600;
      color: white; }
    .marketing .banner .particles-cont h5 {
      font-size: 1.375rem;
      color: white;
      line-height: 33px; }
    .marketing .banner .particles-cont h2 {
      font-size: 3.3rem;
      font-weight: 700;
      color: wheat; }
    .marketing .banner .particles-cont a {
      color: white;
      text-decoration: underline; }
.marketing .particles {
  height: 100%; }
  .marketing .particles canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
.marketing .ignite-platform {
  background: url("../img/marketing/bg-1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 34rem; }
  .marketing .ignite-platform .content-box {
    margin-top: 6rem;
    width: 53%; }
    .marketing .ignite-platform .content-box h1 {
      font-size: 3.3rem;
      font-weight: 900;
      text-transform: uppercase; }
.marketing .erp-modules {
  background: #EDEDED;
  padding-bottom: 4rem; }
  .marketing .erp-modules .section-header {
    text-align: center;
    padding: 2.5rem 0px; }
    .marketing .erp-modules .section-header h3 {
      font-size: 2.5rem;
      font-weight: 800; }
  .marketing .erp-modules .swiper-container .swiper-wrapper .swiper-slide {
    margin: 0 2px; }
    .marketing .erp-modules .swiper-container .swiper-wrapper .swiper-slide .slide-box {
      width: 245px;
      margin: 0px;
      background: #F2F2F2;
      padding: 0rem;
      height: 445px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      border-radius: 4px; }
      .marketing .erp-modules .swiper-container .swiper-wrapper .swiper-slide .slide-box h3 {
        font-size: 18px;
        font-weight: 700;
        color: #676767; }
      .marketing .erp-modules .swiper-container .swiper-wrapper .swiper-slide .slide-box .img-box {
        width: 258px;
        height: 175px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        z-index: 16;
        position: absolute;
        left: -7px;
        right: 0; }
      .marketing .erp-modules .swiper-container .swiper-wrapper .swiper-slide .slide-box .bottom-content {
        position: relative;
        top: 12rem;
        font-size: 14px;
        font-weight: 600;
        width: 100%;
        left: 0; }
.marketing .bg-sect1, .marketing .bg-sect2 {
  background: url("../img/marketing/bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 28rem;
  display: flex;
  align-items: center; }
  .marketing .bg-sect1 .content-box, .marketing .bg-sect2 .content-box {
    height: auto;
    margin: 0 auto;
    width: 75%; }
.marketing .bg-sect2 {
  background: url("../img/marketing/bg-3.jpg"); }
.marketing .business-sectors .section-header {
  text-align: center;
  padding: 1rem 0px 2.5rem; }
  .marketing .business-sectors .section-header h3 {
    font-size: 2.5rem;
    font-weight: 800; }
  .marketing .business-sectors .section-header p {
    font-size: 1.1875rem; }
.marketing .business-sectors ul li .icon img {
  width: 80px; }
.marketing .business-sectors ul li .icon-details h4 {
  font-size: 1.4375rem; }
.marketing .bg-sect3 {
  background: url("../img/marketing/bg-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 43rem;
  display: flex;
  align-items: center; }
  .marketing .bg-sect3 .content-box {
    height: auto;
    margin: 0 auto; }
    .marketing .bg-sect3 .content-box img {
      width: 655px; }
.marketing .footer-section {
  background: url("../img/marketing/bg-5.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right; }
  .marketing .footer-section .section-header {
    text-align: center;
    padding: 2.5rem 0px; }
    .marketing .footer-section .section-header h3 {
      font-size: 2.1rem;
      font-weight: 800; }

.our-process {
  background-color: #3d3d3d;
  min-height: 550px;
  overflow: hidden; }
  .our-process .swiper-pagination-bullets {
    top: 20%;
    font-weight: 600; }
  .our-process .swiper-container {
    margin: 0 3.5rem;
    padding: 0 2rem;
    height: 550px;
    overflow: visible; }
    @media screen and (max-width: 991px) {
      .our-process .swiper-container {
        margin: 0 0rem 0 3rem;
        padding: 0 2rem 0 0rem; } }
    @media (max-width: 575px) {
      .our-process .swiper-container {
        margin: 0 0rem 0 1rem;
        padding: 0 2rem 0 0rem; } }
    .our-process .swiper-container .our-process-caption {
      position: absolute;
      right: 0;
      color: white;
      font-weight: 600;
      top: 2rem; }
    .our-process .swiper-container .small-caption {
      position: absolute;
      right: 0;
      color: white;
      top: 5rem;
      text-align: right;
      font-size: 24px;
      line-height: 32px; }
  .our-process .swiper-slide {
    text-align: left;
    font-size: 18px;
    color: #fff;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center; }
    .our-process .swiper-slide .swiper-heading h3 {
      position: relative;
      font-weight: 600;
      -moz-transform: translateX(0px) translateY(-30px);
      -ms-transform: translateX(0px) translateY(-30px);
      -webkit-transform: translateX(0px) translateY(-30px);
      transform: translateX(0px) translateY(-30px);
      opacity: 0; }
    .our-process .swiper-slide .swiper-heading .checkmark {
      position: relative;
      -moz-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      -webkit-transform: rotate(35deg);
      transform: rotate(35deg);
      display: inline-block;
      bottom: 10px;
      left: 0rem;
      opacity: 0;
      -moz-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
      -webkit-transition-delay: 0.1s;
      transition-delay: 0.1s;
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out; }
      .our-process .swiper-slide .swiper-heading .checkmark .checkmark_stem {
        position: absolute;
        width: 0px;
        height: 0px;
        background-color: transparent;
        left: 11px;
        bottom: 6px;
        -moz-transition-delay: 0.5s;
        -o-transition-delay: 0.5s;
        -webkit-transition-delay: 0.5s;
        transition-delay: 0.5s;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out; }
      .our-process .swiper-slide .swiper-heading .checkmark .checkmark_kick {
        position: absolute;
        width: 0px;
        height: 0px;
        background-color: transparent;
        left: 5px;
        bottom: 3px;
        -moz-transition-delay: 0.8s;
        -o-transition-delay: 0.8s;
        -webkit-transition-delay: 0.8s;
        transition-delay: 0.8s;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out; }
    .our-process .swiper-slide .swiper-heading p {
      -moz-transition-delay: 0.5s;
      -o-transition-delay: 0.5s;
      -webkit-transition-delay: 0.5s;
      transition-delay: 0.5s;
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out;
      -moz-transform: translateX(0px) translateY(30px);
      -ms-transform: translateX(0px) translateY(30px);
      -webkit-transform: translateX(0px) translateY(30px);
      transform: translateX(0px) translateY(30px);
      opacity: 0; }
    .our-process .swiper-slide.swiper-slide-active h3 {
      opacity: 1;
      -moz-transition: all 0.8s ease-out;
      -o-transition: all 0.8s ease-out;
      -webkit-transition: all 0.8s ease-out;
      transition: all 0.8s ease-out;
      -moz-transform: translateX(0px) translateY(0px);
      -ms-transform: translateX(0px) translateY(0px);
      -webkit-transform: translateX(0px) translateY(0px);
      transform: translateX(0px) translateY(0px); }
    .our-process .swiper-slide.swiper-slide-active .checkmark {
      opacity: 1; }
      .our-process .swiper-slide.swiper-slide-active .checkmark .checkmark_kick {
        background-color: #fff;
        width: 10px;
        height: 4px;
        transition-delay: .65s; }
      .our-process .swiper-slide.swiper-slide-active .checkmark .checkmark_stem {
        background-color: #fff;
        width: 4px;
        height: 17px;
        -moz-transition-delay: 0.8s;
        -o-transition-delay: 0.8s;
        -webkit-transition-delay: 0.8s;
        transition-delay: 0.8s; }
    .our-process .swiper-slide.swiper-slide-active p {
      opacity: 1;
      -moz-transform: translateX(0px) translateY(0px);
      -ms-transform: translateX(0px) translateY(0px);
      -webkit-transform: translateX(0px) translateY(0px);
      transform: translateX(0px) translateY(0px); }
    .our-process .swiper-slide .swiper-body {
      padding-right: 3rem;
      padding-left: 3rem;
      float: left;
      width: 100%; }
      .our-process .swiper-slide .swiper-body:after {
        content: '';
        display: table;
        clear: both; }
      .our-process .swiper-slide .swiper-body h3 {
        display: inline-block;
        font-size: 2.7rem; }
        @media screen and (max-width: 991px) {
          .our-process .swiper-slide .swiper-body h3 {
            font-size: 2.3rem; } }
      .our-process .swiper-slide .swiper-body p {
        color: #ababab;
        font-weight: 600;
        font-size: 1.9rem;
        line-height: 2.4rem;
        margin: 0; }
        @media screen and (max-width: 991px) {
          .our-process .swiper-slide .swiper-body p {
            font-size: 1.3rem; } }
  .our-process .swiper-pagination-bullet {
    color: white;
    width: auto;
    height: auto;
    background: transparent !important;
    font-size: 1.3rem;
    outline: none;
    /* &:after {
      content: '';
      left: 0;
      width: 0;
      top: calc(50% - 1px);
      height: 2px;
      background-color: white;
      display: block;
      position: absolute;
      @include transition(all .2s ease-out);
      @include transition-delay(700ms);
    } */
    /* &.swiper-pagination-bullet-active {
      position: relative;
      &:after {
        width: 100%;
      }
    } */ }
  .our-process .swiper-container-vertical > .swiper-pagination-bullets {
    left: 10px;
    right: auto; }

.our-process .swiper-pagination-bullet:nth-of-type(1), .swiper-visited {
  color: white !important;
  opacity: 1 !important;
  position: relative !important; }

@media screen and (max-width: 1099px) {
  .team-exp .media {
    width: 95%; }

  .about-us .banner .particles-cont {
    display: block;
    padding: 0rem 3rem 0rem 3rem; }
    .about-us .banner .particles-cont h3 {
      width: calc(100%); } }
@media screen and (max-width: 1060px) {
  .text-slogan .slg:nth-of-type(even) {
    margin-top: 6rem; }

  .bg-sect3 .content-box img {
    width: 100% !important; }
  .bg-sect3 .content-box h1 {
    font-size: 1.5rem; }

  .ignite-platform {
    background-size: cover !important; }
    .ignite-platform .content-box {
      width: 100% !important; }

  .bg-sect1 .content-box h1, .marketing .bg-sect2 .content-box h1 {
    font-size: 2rem; } }
@media (max-width: 991px) {
  .about-us .banner .particles-cont {
    padding: 5rem 0rem 3rem;
    margin-bottom: 0; }
    .about-us .banner .particles-cont h3 {
      font-size: 1.7rem;
      padding: 0rem 2rem 0rem 2rem; }

  .technology-team .team-list li h4 {
    font-size: 1.2rem; }
  .technology-team .team-list li .avatar {
    width: 174px;
    height: 174px; }

  .footer-section .btn {
    display: block !important; } }
.about-right-elm {
  text-align: center; }

@media (max-width: 767px) {
  .about-right-elm {
    text-align: right;
    margin-bottom: -30px; }

  .our-process .swiper-container-vertical > .swiper-pagination-bullets {
    left: 0px; }
  .our-process .swiper-slide {
    text-align: center;
    padding-left: 2rem;
    padding-top: 3rem; }
  .our-process .swiper-container .our-process-caption {
    left: 0;
    margin: auto;
    text-align: right;
    right: 1rem;
    font-style: italic; }

  .about-us .banner .particles-cont h4 {
    display: none; }

  .about-us .right-cont {
    float: none;
    margin: auto;
    display: table; }

  .team-exp .media {
    width: 100%;
    -webkit-flex-direction: column;
    flex-direction: column; }
    .team-exp .media.md-right {
      -webkit-flex-direction: column-reverse;
      flex-direction: column-reverse; }
    .team-exp .media .media-body {
      text-align: center; }
      .team-exp .media .media-body .media-heading {
        margin-top: 1rem; }
    .team-exp .media:last-of-type {
      padding-bottom: 0rem;
      margin-bottom: 0rem; }

  .our-process .swiper-slide .swiper-body {
    padding-right: 0;
    padding-left: 0; }

  .text-slogan .slg {
    margin-right: auto !important;
    margin-left: auto !important;
    float: none !important;
    display: table !important; }
    .text-slogan .slg:last-of-type {
      margin-bottom: 0 !important; } }
@media (max-width: 575px) {
  .our-process .small-caption {
    position: absolute;
    right: 0;
    color: white;
    top: 4rem !important;
    text-align: right;
    font-size: 16px !important;
    line-height: 25px !important;
    width: 85% !important; }
  .our-process .swiper-slide {
    text-align: left;
    padding-left: 3rem; }
    .our-process .swiper-slide .swiper-body h3 {
      font-size: 1.875rem; }
    .our-process .swiper-slide .swiper-body p {
      line-height: 1.4;
      font-weight: 400;
      font-size: 1.2rem; }

  .ignite-platform {
    background-size: cover !important; }
    .ignite-platform .content-box {
      width: 100% !important; }
      .ignite-platform .content-box h1 {
        font-size: 2rem !important;
        color: #fff; }

  .erp-modules .swiper-container .swiper-wrapper .swiper-slide .slide-box {
    width: 334px !important; }
    .erp-modules .swiper-container .swiper-wrapper .swiper-slide .slide-box .img-box {
      width: 350px !important; }

  .bg-sect3 .content-box img {
    width: 100% !important; }
  .bg-sect3 .content-box h1 {
    font-size: 1.5rem; } }
#ourProcess .swiper-pagination-bullet {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out; }

.form-check.form-check-inline.check-btn-type {
  overflow: hidden; }
  .form-check.form-check-inline.check-btn-type .form-check-label {
    border: solid 1px grey;
    padding: 1.125rem 1rem;
    border-radius: 1.0625rem;
    cursor: pointer;
    font-weight: 500;
    color: grey;
    line-height: 0; }
  .form-check.form-check-inline.check-btn-type .form-check-input {
    position: absolute;
    left: -1rem;
    opacity: 0; }
    .form-check.form-check-inline.check-btn-type .form-check-input:checked + .form-check-label {
      background-color: green;
      border-color: green;
      color: white; }
    .form-check.form-check-inline.check-btn-type .form-check-input:checked:disabled + .form-check-label {
      background-color: green;
      border-color: green;
      opacity: 0.65; }
    .form-check.form-check-inline.check-btn-type .form-check-input:disabled + .form-check-label {
      background-color: #e9ecef;
      cursor: not-allowed; }

#modelsRequired-error {
  position: absolute;
  width: 120px;
  bottom: -10px;
  left: 0; }

/*# sourceMappingURL=style.css.map */
