
<!--About Us-->



<!-- Animation Libraries -->
<!-- <script src="/static/js/animation.gsap.min.js"></script>
<script src="/static/js/AttrPlugin.min.js"></script>
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/CSSPlugin.min.js"></script>
<script src="/static/js/custom.js"></script> 
<script src="/static/js/EasePack.min.js"></script>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/js.cookie.js"></script>
<script src="/static/js/moment.js"></script>
<script src="/static/js/particles.min.js"></script>
<script src="/static/js/ScrollToPlugin.min.js"></script>
<script src="/static/js/ScrollMagic.min.js"></script>
<script src="/static/js/slogan-roulette.js"></script>
<script src="/static/js/swiper.min.js"></script> 
<script src="/static/js/TextPlugin.min.js"></script>
<script src="/static/js/TweenMax.min.js"></script>
<script src="/static/js/TimelineMax.min.js"></script>
<script src="/static/js/toastr.js"></script> -->
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<!-- Animation Libraries -->
<script src="/static/js/particles.min.js"></script>
<script src="/static/js/TweenMax.min.js"></script>
<script src="/static/js/TimelineMax.min.js"></script>
<script src="/static/js/EasePack.min.js"></script>
<script src="/static/js/CSSPlugin.min.js"></script>
<script src="/static/js/AttrPlugin.min.js"></script>
<script src="/static/js/TextPlugin.min.js"></script>
<script src="/static/js/ScrollToPlugin.min.js"></script>
<script src="/static/js/ScrollMagic.min.js"></script>
<script src="/static/js/animation.gsap.min.js"></script>
<script src="/static/js/js.cookie.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/js/swiper.min.js"></script>
<script src="/static/js/moment.js"></script>  
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/custom/contact.js"></script>


 


<script>
    var visitedProcess = [1]
    var swiper = new Swiper('.swiper-container', {
      direction: 'vertical',
      effect: 'fade',
      simulateTouch:false,
      allowTouchMove:false,
      fadeEffect: {
        crossFade: true
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
        renderBullet: function (index, className) {
          return '<span class="' + className + '">' + (index + 1) + '</span>';
        },
      },
      on: {
        slideChangeTransitionEnd: function () {
          var getInd = $('.our-process .swiper-wrapper .swiper-slide.swiper-slide-active').index()+1
          if(visitedProcess.indexOf(getInd) == -1){
            visitedProcess[visitedProcess.length] = getInd;
          }
          $.each(visitedProcess, function(index, el) {
            $('.our-process .swiper-pagination-bullet:nth-of-type('+getInd+')').addClass('swiper-visited')
          });         
        },
      }
    });
    </script>
   
    <!--blog detail and list-->
    <script>
        var swiper = new Swiper('.swiper-container', {
          autoplay: true,
          slidesPerView: 6,
          spaceBetween: 30,
          breakpoints: {
            567: {
              slidesPerView: 2,
              spaceBetween: 10
            },
            767: {
              slidesPerView: 3,
              spaceBetween: 20
            },
            991: {
              slidesPerView: 4,
              spaceBetween: 20
            }
          }
        });
      </script>
<!--project detail and list-->

<script>
    $(function(){
      $(".social-icons").addClass("d-none").addClass("d-md-block").removeClass("inverted");
      $(".nav-btn").removeClass("inverted");
    });
  </script>

  <!--Thank you-->

<script>
  var pageHeight = $(window).innerHeight();
  $('.thank-you').css("height", pageHeight -88 +'px')
</script>







