<!doctype html>
{% load wagtailcore_tags wagtailimages_tags %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{self.meta_content}}">

    <link rel="shortcut icon" href='../static/img/logo.png'>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/swiper.min.css">
    
    <title>{{ self.header_title }}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133923308-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-133923308-1');
    </script>

  </head>


<body class="intro">

  <div class="loader"></div>


    <div id="mainNav" class="sidenav d-flex align-items-center">
      <div class="w-100 d-flex align-items-end">
        <ul class="list-unstyled mb-0 w-100">
          <li><a href="/">HOME</a></li>
          <li><a href="/projects/">PROJECTS</a></li>
          <li><a href="/about-us/">ABOUT US</a></li>
          <li><a href="/technologies/">TECHNOLOGIES</a></li>
          <li><a href="/blogs/">BLOGS</a></li>
          <li><a href="/contact-us/">CONTACT US</a></li>
        </ul>
        <div class="page-description">
          <ul>
            <li>
              <h4>Our Home</h4>
              <p>View a brief about our company and what we can do</p>
            </li>
            <li>
              <h4>Projects</h4>
              <p>A showcase of the best projects we have executed so far</p>
            </li>
            <li>
              <h4>About Us</h4>
              <p>Learn more about what we have to offer, what drives us and who we are</p>
            </li>
            <li>
              <h4>Technologies</h4>
              <p>Just some of the technologies that we use and apply everyday</p>
            </li>
            <li>
              <h4>Blogs</h4>
              <p>Here you can find in our knowledge center</p>
            </li>
            <li>
              <h4>Contact Us</h4>
              <p>Get in touch to build something together</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="nav-btn inverted">
      <button class="btn menu-btn">Menu</button>
      <i class="ion-close-round"></i>
    </div>
    <nav class="navbar navbar-light text-center w-100" id="navBar">      
      <a class="navbar-brand m-0 m-auto" href="/">
        <img src="../static/img/logo.png" alt="">
      </a>
    </nav>

    <div class="social-icons inverted">
      <ul class="list-unstyled pl-4">
        <li><a href="https://www.instagram.com/mdrifttech/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
        <li><a href="https://twitter.com/mDriftGlobal/" target="_blank"><i class="ion-social-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/mDriftTechnologiesIndia/" target="_blank"><i class="ion-social-facebook"></i></a></li>
      </ul>
    </div>





    <div class="page home">
      <div class="section-intro">
        <div class="container-fluid h-100">
          <div class="row h-100">
            <div class="jumbotron m-0 h-100 w-100 text-center d-flex align-items-center justify-content-center bg-transparent">
              <div class="intro-title">
                <div class="fixed-span">
                  mDrift Technologies
                </div>
                <div class="animated-text d-md-flex align-items-center">
                  <span id="introText1">Technology</span>
                  <i id="introIcon1" class="d-none d-sm-block">•</i>
                  <span id="introText2">Consulting</span>
                  <i id="introIcon2" class="d-none d-sm-block">•</i>
                  <span id="introText3">Innovation</span>
                  <!-- <div id="particlesWrapper" class="particles-wrapper"></div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="banner">
        <div class="container h-100">
          <!-- <div class="row h-100"> -->
            <!-- <div class="col-md-12 h-100"> -->
              <div class="jumbotron m-0 h-100 w-100 text-center bg-transparent py-2 px-0">
                <div class="row h-100 align-items-center justify-content-center">
                  <div class="col-md-6 banner-caption">
                    <h1>Our greatest projects come from the hardest real world problems we solve </h1>
                  </div>
                  <div class="col-md-6 banner-main-img">
                    <img src="../static/img/banner.png">
                  </div>
                </div>          
              </div>
              <div class="scroll-icon">
                <div class="scroll-down next-section"><span></span></div>
              </div>
              
              
            <!-- </div> -->
          <!-- </div> -->
        </div>
      </section>
  
      <section class="team" id="teamDescription">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 team-description-wrp">
              <div class="team-description">
                <h3>Multidisciplinary Team</h3>
                <p>A new idea should not hide behind any software or language. An idea is brought to life in the real world, a truely multidisciplinary team helps you navigate this and beyond</p>
                <a href="/about-us/">Know More <i class="ion-arrow-right-c"></i></a>
              </div>
            </div>
            <div class="col-md-6 mask-wrp">
              <div class="mask-text">
                <div class="text-mask" id="textMask">
                  <img src="../static/img/logo-lg.png" alt="">
                </div>
                <!-- <h1 class="text-mask" id="textMask">MDR</h1> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="clearfix"></div>
      <div class="slides" id="technologySlides">
        <div class="container-fluid">
          <div class="slide-box">
            <div class="row">  
              <div class="slide-img blank-box">&nbsp;</div>
            
              <div class="slide-img">
                <span class="android"></span>
                <span><img src="../static/img/Slides/1-icon.png" class="img-responsive"></span>
              </div>
            
              <div class="slide-img">
                <span class="angular"></span>
                <span><img src="../static/img/Slides/2-icon.png" class="img-responsive"></span>
              </div>
            
              <div class="slide-img">
                <span class="m-net"></span>
                <span><img src="../static/img/Slides/3-icon.png" class="img-responsive" style="width: 130px;"></span>
              </div>
            
              <div class="slide-img">
                <span class="python"></span>
                <span><img src="../static/img/Slides/4-icon.png" class="img-responsive"></span>
              </div>
            
              <div class="slide-img arrow-box">
                <a href="/technologies/"><i class="ion-arrow-right-c"></i></a>
              </div>            
            </div>
          </div>
        </div>
      </div>
  
      <section class="more-about" id="aboutUs">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 p-0 rocket-wrp">
              <div class="bg-blue">
                <div class="bg-rocket" id="rocketGraphics">
                  <img src="../static/img/rocket.png" alt="">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12">
              <div class="more-about-us ml-4">
                <div class="row">
                  <div class="col-sm-12">
                    <h4>Commitment and passion towards innovative product development gave us the strength to survive a bumpy ride. We strive to be the greatest company for disruptive innovation </h4>
                    <a href="/about-us/">MORE ABOUT US<i class="ion-arrow-right-c pl-3"></i></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="core-about mt-5">
                      <div class="icon text-center">
                        <img src="../static/img/icons/team-core.png">
                      </div>
                      <div class="font-weight-bold mt-2 text text-center">
                        <p>A team of core technologists</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="core-about mt-5">
                      <div class="icon text-center">
                        <img src="../static/img/icons/research.png">
                      </div>
                      <div class="font-weight-bold mt-2 text text-center">
                        <p>Impeccable Research and Development practice</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="core-about mt-5">
                      <div class="icon text-center">
                        <img src="../static/img/icons/relationship.png">
                      </div>
                      <div class="font-weight-bold mt-2 text text-center">
                        <p>We cherish Customer Relationship</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <section class="our-works" id="portfolio">
        <div class="container-fluid">
          <div class="section-header">
            <h3>Our work speaks better</h3>
            <!-- <p>Lorem Ipsum is simply dummy text of the printing  and typesetting industry. Lorem Ipsum is simply dummy text of the printing  and typesetting industry.</p> -->
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-0">
              <div class="thumbnail">
                <a href="/projects/isp" class="goto-detail"></a>
                <div class="thumbnail-top-section">
                  <div class="thumbnail-logo">
                    <img src="../static/img/our-works/logo-3.png" alt="">
                  </div>
                  <div class="small-caption text-uppercase">
                    Web Application / Mobile Applications / Enterprise Integartions
                  </div>
                </div>
                <img src="../static/img/our-works/3.png" class="w-100">
                <div class="caption position-absolute">
                  <p>Kerala Vision</p>
                  <h3>User and Billing Management Application</h3>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-0">
              <div class="thumbnail">
                <a href="https://domitos.com/" class="goto-detail"></a>
                <div class="thumbnail-top-section">
                  <div class="thumbnail-logo">
                    <img src="../static/img/our-works/domito-logo.png" alt="">
                  </div>
                  <div class="small-caption text-uppercase">
                    Web application/mobile application
                  </div>
                </div>
                <img src="../static/img/our-works/domitos-bg1.jpeg" class="w-100">
                <div class="caption position-absolute">
                  <p>Dormitories/Facilities around the world</p>
                  <h3>Facility management application</h3>
                </div>
              </div>                        
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-0">
              <div class="thumbnail">
                <a href="/projects/qaid" class="goto-detail"></a>
                <div class="thumbnail-top-section">
                  <div class="thumbnail-logo">
                    <img src="../static/img/our-works/qaid-logo.png" alt="">
                  </div>
                  <div class="small-caption text-uppercase">
                     Mobile Application
                  </div>
                </div>
                <img src="../static/img/our-works/qaid-bg.png"  %}" class="w-100">
                <div class="caption position-absolute">
                  <p>Medical clinics</p>
                  <h3>Patient queueing and scheduling application</h3>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-0">
              <div class="thumbnail">
                <a href="/projects/rapiddev" class="goto-detail"></a>
                <div class="thumbnail-top-section">
                  <div class="thumbnail-logo">
                    <img src="../static/img/our-works/rapiddev-logo.png"  alt="">
                  </div>
                  <div class="small-caption text-uppercase">
                    Website application/SAAS
                  </div>
                </div>
                <img src="../static/img/our-works/rapiddev-bg.png" class="w-100">
                <div class="caption position-absolute">
                  <p>In-House</p>
                  <h3>Project management application</h3>
                </div>
              </div>                        
            </div>
            <div class="col-md-12 p-4 text-right">
              <a href="/projects/" class="more-projects pr-5">MORE PROJECTS <i class="ion-arrow-right-c"></i></a>
            </div>
          </div>
        </div>
      </section>      

      <section class="company-logos pt-4 pb-4">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 company-logos">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  {% for block in self.client_logos %}
                  {% if block.block_type == 'image' %}
                  <div class="swiper-slide">
                    {% image block.value width-530 %}
                  </div>
                  {% endif %}
                  {% endfor %}
                  
                </div>
                <!-- Add Pagination -->
                <!-- <div class="swiper-pagination"></div> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <footer>
        <div class="container-fluid">
          <div class="row mobile-footer">
            <a href="/contact-us/" class="btn btn-outline-dark d-flex float-left">Contact Us</a>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="align-items-center col-5 p-0 d-lg-flex d-sm-block justify-content-center">
              <p class="m-0 cpyrht">Copyright 2018 mDrift Technologies</p>
              <a href="/contact-us/" class="btn btn-outline-dark d-flex float-left">Contact Us</a>
            </div>
            <div class="col-3 text-center">
              <a class="navbar-brand m-0 m-auto" href="/">
                <img src="../static/img/logo.png" alt="">
              </a>
            </div>
            <div class="col-4 m-0 m-auto">
              <ul class="list-unstyled  align-items-center mb-0 d-flex justify-content-center social-icons-bottom">
                <li class="pr-3"><a href="https://www.instagram.com/mdrifttech/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
                <li class="pr-3"><a href="https://twitter.com/mDriftGlobal/" target="_blank"><i class="ion-social-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/mDriftTechnologiesIndia/" target="_blank"><i class="ion-social-facebook"></i></a></li>
              </ul>  
            </div>
          </div>
        </div>
      </footer>
    </div>

  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/bootstrap.bundle.min.js"></script>
  <!-- Animation Libraries -->
  <script src="../static/js/particles.min.js"></script>
  <script src="../static/js/TweenMax.min.js"></script>
  <script src="../static/js/TimelineMax.min.js"></script>
  <script src="../static/js/EasePack.min.js"></script>
  <script src="../static/js/CSSPlugin.min.js"></script>
  <script src="../static/js/AttrPlugin.min.js"></script>
  <script src="../static/js/TextPlugin.min.js"></script>
  <script src="../static/js/ScrollToPlugin.min.js"></script>
  <script src="../static/js/ScrollMagic.min.js"></script>
  <script src="../static/js/animation.gsap.min.js"></script>
  <script src="../static/js/js.cookie.js"></script>
  <script src="../static/js/custom.js"></script>
  <script src="../static/js/swiper.min.js"></script>    
  <script>
    var swiper = new Swiper('.swiper-container', {
      autoplay: true,
      slidesPerView: 6,
      spaceBetween: 30,
      breakpoints: {
        567: {
          slidesPerView: 2,
          spaceBetween: 10
        },
        767: {
          slidesPerView: 3,
          spaceBetween: 20
        },
        991: {
          slidesPerView: 4,
          spaceBetween: 20
        }
      }
    });
  </script>
</body>
</html>
    