
<!doctype html>
<html lang="en">
  <head>
    <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href='../static/img/logo.png'>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/swiper.min.css">
    <link rel="stylesheet" href="../static/css/toastr.css">
    <link rel="stylesheet" href="../static/css/blog-style.css">
    <link rel="stylesheet" href="../static/css/bootstrap-datetimepicker.min.css">
    <link rel='stylesheet' id='mdrift-style-css'  href='../static/css/aboutstyle.css' type='text/css' media='all' />
    
    <title>{{ self.header_title }}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133923308-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-133923308-1');
    </script>

  </head>

    
    <title>{{ self.header_title }}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133923308-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-133923308-1');
    </script>

  </head>



<body class="intro">
  <!-- Google Tag Manager (noscript) -->

  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TPJW94Z"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

  <!-- End Google Tag Manager (noscript) -->

    <!-- <div class="loader"></div> -->


    <div id="mainNav" class="sidenav d-flex align-items-center">
      <div class="w-100 d-flex align-items-end">
        <ul class="list-unstyled mb-0 w-100">
          <li><a href="/">HOME</a></li>
          <li><a href="/projects/">PROJECTS</a></li>
          <li><a href="/about-us/">ABOUT US</a></li>
          <li><a href="/technologies/">TECHNOLOGIES</a></li>
          <li><a href="/blogs/">BLOGS</a></li>
          <li><a href="/contact-us/">CONTACT US</a></li>
        </ul>
        <div class="page-description">
          <ul>
            <li>
              <h4>Our Home</h4>
              <p>View a brief about our company and what we can do</p>
            </li>
            <li>
              <h4>Projects</h4>
              <p>A showcase of the best projects we have executed so far</p>
            </li>
            <li>
              <h4>About Us</h4>
              <p>Learn more about what we have to offer, what drives us and who we are</p>
            </li>
            <li>
              <h4>Technologies</h4>
              <p>Just some of the technologies that we use and apply everyday</p>
            </li>
            <li>
              <h4>Ignite Erp</h4>
              <p>Faster producton for erp</p>
            </li>
            <li>
              <h4>Blogs</h4>
              <p>What's new around the world of technology</p>
            </li>
            <li>
              <h4>Contact Us</h4>
              <p>Get in touch to build something together</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="nav-btn inverted">
      <button class="btn menu-btn">Menu</button>
      <i class="ion-close-round"></i>
    </div>
    <nav class="navbar navbar-light text-center w-100" id="navBar">      
      <a class="navbar-brand m-0 m-auto" href="/">
        <img src="../static/img/logo.png" alt="">
      </a>
    </nav>

    <div class="social-icons inverted">
      <ul class="list-unstyled pl-4">
        <li><a href="https://www.instagram.com/mdrifttech/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
        <li><a href="https://twitter.com/mDriftGlobal/" target="_blank"><i class="ion-social-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/mDriftTechnologiesIndia/" target="_blank"><i class="ion-social-facebook"></i></a></li>
      </ul>
    </div>
    <div class="page about-us">     

      <section class="banner">
        <div class="particles" id="particles-js"></div>

        <div class="particles-cont">
          <div class="container">
            <div class="row align-items-end">
              <div class="col-md-8">
                <h3>We were founded in May of 2013 with the aim of serving the R&amp;D needs of startups and enterprises by applying new technologies, developments and innovations in the digital space to problems our customers faced.</h3>
              </div>
              <div class="col-md-4">
                </div>
              </div>
            </div>
          </div>
      </section>
  
      <section class="team-exp">
        <div class="container-fluid">
          <div class="row">
            <!-- <div class="col-md-4">
              <div class="team-description">
                <h3>Multidisciplinary Team</h3>
                <p>A new idea should not hide behind any software or language. An idea is brought to life in the real world, a truely multidisciplinary team helps you navigate this and beyond</p>
                <a href="">Know More <i class="ion-arrow-right-c"></i></a>
              </div>
            </div> -->

            <div class="media">
              <div class="media-left">
                <img class="media-object" src="../static/img/icons/advantage.png"> 
                 </div>           
                <div class="media-body">  
                  <h4 class="media-heading">Take advantage of us</h4> 
                  During the past 5 years mDrift has developed a variety of products ranging from simple website and branding to complex enterprise integrations. This experience gives us the advantage to look at problems and suggest unique insights and solutions.
                </div>
            </div>

            <div class="media md-right">
              <div class="media-body"> 
                <h4 class="media-heading">Our Strength</h4> 
                Analysis, problem-solving, strategy, design, development & optimisation are our strengths. Our dedication and commitment to develop a long lasting product with intuitive user experience makes us a great partner for successful product development.
              </div>
              <div class="media-right">
                <img class="media-object" src="../static/img/icons/strength.png"> 
              </div>
            </div>

            <div class="media">
              <div class="media-left">
                <img class="media-object" src="../static/img/icons/agil.png"> 
              </div>
              <div class="media-body"> 
                <h4 class="media-heading">Agile</h4> 
                We work very closely with our customers to share the progress early and often to successfully develop a product that they always required and deserved.
              </div>
            </div>

            <div class="media md-right">
              <div class="media-body"> 
                <h4 class="media-heading">Partner Ecosystem</h4> 
                Over the years, mDrift has developed very close relationship with a number of universities and institutions to bring in industry specialists and academicians to help guide a product development. This ensures that the product is enriched with experience no one firm can offer.
              </div>
              <div class="media-right">
                <img class="media-object" src="../static/img/icons/partner.png"> 
              </div>
            </div>

          </div>
        </div>
      </section>
      <section class="our-process" id="ourProcess">
        <div class="container-fluid">
          <div class="swiper-container">
            <h2 class="our-process-caption">Our Process</h2>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="swiper-body">
                  <div class="swiper-heading">
                    <h3>First Date</h3>
                    <span class="checkmark">
                      <div class="checkmark_stem"></div>
                      <div class="checkmark_kick"></div>
                    </span>
                  </div>
                  <p>Get in touch with a brief description of yourself and your requirement.</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-body">
                  <div class="swiper-heading">
                    <h3>Consult</h3>
                    <span class="checkmark">
                      <div class="checkmark_stem"></div>
                      <div class="checkmark_kick"></div>
                    </span>
                  </div>
                  <p>We work very closely with your stakeholders to understand the requirement & problem statement.</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-body">
                  <div class="swiper-heading">
                    <h3>Effort</h3>
                    <span class="checkmark">
                      <div class="checkmark_stem"></div>
                      <div class="checkmark_kick"></div>
                    </span>
                  </div>
                  <p>We will provide you an accurate idea of how long the project should take and what will be required from your end for completing this ride.</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-body">
                  <div class="swiper-heading">
                    <h3>Proposal</h3>
                    <span class="checkmark">
                      <div class="checkmark_stem"></div>
                      <div class="checkmark_kick"></div>
                    </span>
                  </div>
                  <p>We will present a detailed proposal with emphasis on the deliverables from our end and the team that will be formed to work with you to realise this product.</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-body">
                  <div class="swiper-heading">
                    <h3>Milestones</h3>
                    <span class="checkmark">
                      <div class="checkmark_stem"></div>
                      <div class="checkmark_kick"></div>
                    </span>
                  </div>
                  <p>Milestones and roadmap will be set out to make sure the project stays on target. It is on us to ensure this is adhered to, even if it means being a little intrusive.</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-body">
                  <div class="swiper-heading">
                    <h3>Iterate</h3>
                    <span class="checkmark">
                      <div class="checkmark_stem"></div>
                      <div class="checkmark_kick"></div>
                    </span>
                  </div>
                  <p>Our team will share the developmental progress frequently and work with you to modify the deliverables if necessary. Nothing is written in stone, our aim is only to develop the best product.</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-body">
                  <div class="swiper-heading">
                    <h3>Release</h3>
                    <span class="checkmark">
                      <div class="checkmark_stem"></div>
                      <div class="checkmark_kick"></div>
                    </span>
                  </div>
                  <p>Release a complete product, a beta version or even a prototype for your team or customers to use and experience. We will take care of the entire process and infrastructure to achieve this.</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-body">
                  <div class="swiper-heading">
                    <h3>Improve</h3>
                    <span class="checkmark">
                      <div class="checkmark_stem"></div>
                      <div class="checkmark_kick"></div>
                    </span>
                  </div>
                  <p>From our experience, feedback from users of the system mould the final product and provide the polishing touches it requires. Last minute changes is never a bad thing.</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-body">
                  <div class="swiper-heading">
                    <h3>Support</h3>
                    <span class="checkmark">
                      <div class="checkmark_stem"></div>
                      <div class="checkmark_kick"></div>
                    </span>
                  </div>
                  <p>It comes without saying that we will take care of you and your product through out  the lifecycle. We love seeing the products we developed grow and thrive.</p>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>

      <section class="technology-team">
        <div class="container-fluid">
          <h3 class="section-caption">Core Team</h3>
          <ul class="team-list d-flex flex-wrap align-items-center justify-content-center">
            <li class="col-sm-6 col-md-4 col-lg-3">
              <div class="avatar">
                <img src="../static/img/team/manoj.jpg" alt="">
              </div>
              <div class="avatar-details">
                <h4>Manoj Kallil</h4>
                <span class="small">MD & CEO</span>
              </div>
            </li>
            <li class="col-sm-6 col-md-4 col-lg-3">
              <div class="avatar">
                <img src="../static/img/team/vivek.jpg" alt="">
              </div>
              <div class="avatar-details">
                <h4>Vivek Elayidom</h4>
                <span class="small">COO/HEAD-CONSULTING</span>
              </div>
            </li>
            <li class="col-sm-6 col-md-4 col-lg-3">
              <div class="avatar">
                <img src="../static/img/team/rahul.jpg" alt="">
              </div>
              <div class="avatar-details">
                <h4>Rahul George</h4>
                <span class="small">CDO/HEAD - SERVICE DELIVERY</span>
              </div>
            </li>
            <li class="col-sm-6 col-md-4 col-lg-3">
              <div class="avatar">
                <img src="../static/img/team/salil.jpg" alt="">
              </div>
              <div class="avatar-details">
                <h4>Salil Varma</h4>
                <span class="small">DIRECTOR/CLIENT ENGAGEMENT</span>
              </div>
            </li>
<!--             <li class="col-sm-6 col-md-4 col-lg-3">
              <div class="avatar">
                <img src="https://www.mdrift.com/wp-content/themes/mdrift/template-parts/img/team/nikhil.jpg" alt="">
              </div>
              <div class="avatar-details">
                <h4>Nikhil Rajan</h4>
                <span class="small">LEAD - DELIVERY</span>
              </div>
            </li> -->
<!--             <li class="col-sm-6 col-md-4 col-lg-3">
              <div class="avatar">
                <img src="https://www.mdrift.com/wp-content/themes/mdrift/template-parts/img/team/sachin.jpg" alt="">
              </div>
              <div class="avatar-details">
                <h4>Sachin Sarma</h4>
                <span class="small">HEAD - TECHNOLOGY CONSULTING </span>
              </div>
            </li> -->
            <li class="col-sm-6 col-md-4 col-lg-3">
              <div class="avatar">
                <img src="../static/img/team/nithin.jpg" alt="">
              </div>
              <div class="avatar-details">
                <h4>Nithin Krishnan</h4>
                <span class="small">HEAD - TECHNOLOGY IMPLEMENTATION</span>
              </div>
            </li>
            <li class="col-sm-6 col-md-4 col-lg-3">
              <div class="avatar">
                <img src="../static/img/team/sijil.jpg" alt="">
              </div>
              <div class="avatar-details">
                <h4>Sijil P V</h4>
                <span class="small">HEAD - DEVELOPMENT OPERATIONS - DEVOPS</span>
              </div>
            </li>
            <li class="col-sm-6 col-md-4 col-lg-3">
              <div class="avatar">
                <img src="../static/img/team/sajan.jpg" alt="">
              </div>
              <div class="avatar-details">
                <h4>Sajan Mullappallly</h4>
                <span class="small">LEAD, CONSUMER EXPERIENCE</span>
              </div>
            </li>
            <li class="col-sm-6 col-md-4 col-lg-3">
              <div class="avatar">
                <img src="../static/img/team/abdu.jpg" alt="">
              </div>
              <div class="avatar-details">
                <h4>Abdul Samad</h4>
                <span class="small">LEAD, FRONT END DEVELOPMENT</span>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <section class="text-slogan">
        <a href="/projects/" class="slg-top slg">
          Take a look at what<br>we've made for others.
        </a>
        <a href="/contact-us/" class="slg-top slg">
          Let's build something if<br>you are convinced.
        </a>
      </section>

      <div class="clearfix"></div>
    </div>



	      
      <footer>
        <div class="container-fluid">
          <div class="row mobile-footer">
            <a href="/contact-us/" class="btn btn-outline-dark d-flex float-left">Contact Us</a>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="align-items-center col-5 p-0 d-lg-flex d-sm-block justify-content-center">
              <p class="m-0 cpyrht">Copyright 2021 mDrift Technologies</p>
              <a href="/contact-us/" class="btn btn-outline-dark d-flex float-left">Contact Us</a>
            </div>
            <div class="col-3 text-center">
              <a class="navbar-brand m-0 m-auto" href="/">
                <img src="../static/img/logo.png" alt="">
              </a>
            </div>
            <div class="col-4 m-0 m-auto">
              <ul class="list-unstyled  align-items-center mb-0 d-flex justify-content-center social-icons-bottom">
                <li class="pr-3"><a href="https://www.instagram.com/mdrifttech/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
                <li class="pr-3"><a href="https://twitter.com/mDriftGlobal/" target="_blank"><i class="ion-social-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/mDriftTechnologiesIndia/" target="_blank"><i class="ion-social-facebook"></i></a></li>
              </ul>  
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script type='text/javascript' src='../static/js/dist/vendor/wp-polyfill.min.js?ver=7.4.4' id='wp-polyfill-js'></script>
<script type='text/javascript' id='wp-polyfill-js-after'>
( 'fetch' in window ) || document.write( '<script src="../static/js/dist/vendor/wp-polyfill-fetch.min.js?ver=3.0.0"></scr' + 'ipt>' );( document.contains ) || document.write( '<script src="https://www.mdrift.com/wp-includes/js/dist/vendor/wp-polyfill-node-contains.min.js?ver=3.42.0"></scr' + 'ipt>' );( window.DOMRect ) || document.write( '<script src="https://www.mdrift.com/wp-includes/js/dist/vendor/wp-polyfill-dom-rect.min.js?ver=3.42.0"></scr' + 'ipt>' );( window.URL && window.URL.prototype && window.URLSearchParams ) || document.write( '<script src="https://www.mdrift.com/wp-includes/js/dist/vendor/wp-polyfill-url.min.js?ver=3.6.4"></scr' + 'ipt>' );( window.FormData && window.FormData.prototype.keys ) || document.write( '<script src="https://www.mdrift.com/wp-includes/js/dist/vendor/wp-polyfill-formdata.min.js?ver=3.0.12"></scr' + 'ipt>' );( Element.prototype.matches && Element.prototype.closest ) || document.write( '<script src="https://www.mdrift.com/wp-includes/js/dist/vendor/wp-polyfill-element-closest.min.js?ver=2.0.2"></scr' + 'ipt>' );( 'objectFit' in document.documentElement.style ) || document.write( '<script src="https://www.mdrift.com/wp-includes/js/dist/vendor/wp-polyfill-object-fit.min.js?ver=2.3.4"></scr' + 'ipt>' );
</script>
<script type='text/javascript' id='contact-form-7-js-extra'>
/* <![CDATA[ */
var wpcf7 = {"api":{"root":"https:\/\/www.mdrift.com\/wp-json\/","namespace":"contact-form-7\/v1"},"cached":"1"};
/* ]]> */
</script>

<script type='text/javascript' src='../static/js/navigation.js?ver=20151215' id='mdrift-navigation-js'></script>
<script type='text/javascript' src='../static/js/skip-link-focus-fix.js?ver=20151215' id='mdrift-skip-link-focus-fix-js'></script>
<script type='text/javascript' src='../static/js/wp-embed.min.js?ver=5.7.2' id='wp-embed-js'></script>

  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/bootstrap.bundle.min.js"></script>
  <!-- Animation Libraries -->
  <script src="../static/js/particles.min.js"></script>
  <script src="../static/js/TweenMax.min.js"></script>
  <script src="../static/js/TimelineMax.min.js"></script>
  <script src="../static/js/EasePack.min.js"></script>
  <script src="../static/js/CSSPlugin.min.js"></script>
  <script src="../static/js/AttrPlugin.min.js"></script>
  <script src="../static/js/TextPlugin.min.js"></script>
  <script src="../static/js/ScrollToPlugin.min.js"></script>
  <script src="../static/js/ScrollMagic.min.js"></script>
  <script src="../static/js/animation.gsap.min.js"></script>
  <script src="../static/js/js.cookie.js"></script>
  
  <script src="../static/js/swiper.min.js"></script>
  <script src="../static/js/moment.js"></script>  
  <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
  <script src="../static/js/jquery.validate.min.js"></script> 
  <script src="../static/js/custom.js"></script>    
  <script src="../static/js/toastr.js"></script>         
  <script src="../static/js/custom/contact.js"></script>

  
</body>
</html>
<script>
      var visitedProcess = [1]
      var swiper = new Swiper('.swiper-container', {
		autoplay: {
		   delay: 2000,
		},
        direction: 'vertical',
        effect: 'fade',
        simulateTouch:false,
        allowTouchMove:false,
        fadeEffect: {
          crossFade: true
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
          renderBullet: function (index, className) {
            return '<span class="' + className + '">' + (index + 1) + '</span>';
          },
        },
        on: {
          slideChangeTransitionEnd: function () {
            var getInd = $('.our-process .swiper-wrapper .swiper-slide.swiper-slide-active').index()+1
            if(visitedProcess.indexOf(getInd) == -1){
              visitedProcess[visitedProcess.length] = getInd;
            }
            $.each(visitedProcess, function(index, el) {
              $('.our-process .swiper-pagination-bullet:nth-of-type('+getInd+')').addClass('swiper-visited')
            });         
          },
        }
      });
  </script>
    