<!doctype html>
{% load wagtailcore_tags widget_tweaks %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href='../static/img/logo.png'>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/swiper.min.css">
    
    <title>{{ self.header_title }}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133923308-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-133923308-1');
    </script>

  </head>


<body class="intro">

    <div class="loader"></div>


    <div id="mainNav" class="sidenav d-flex align-items-center">
      <div class="w-100 d-flex align-items-end">
        <ul class="list-unstyled mb-0 w-100">
          <li><a href="/">HOME</a></li>
        <li><a href="/projects/">PROJECTS</a></li>
        <li><a href="/about-us/">ABOUT US</a></li>
        <li><a href="/technologies/">TECHNOLOGIES</a></li>
        <li><a href="/blogs/">BLOGS</a></li>
        <li><a href="/contact-us/">CONTACT US</a></li>
        </ul>
        <div class="page-description">
          <ul>
            <li>
              <h4>Our Home</h4>
              <p>View a brief about our company and what we can do</p>
            </li>
            <li>
              <h4>Projects</h4>
              <p>A showcase of the best projects we have executed so far</p>
            </li>
            <li>
              <h4>About Us</h4>
              <p>Learn more about what we have to offer, what drives us and who we are</p>
            </li>
            <li>
              <h4>Technologies</h4>
              <p>Just some of the technologies that we use and apply everyday</p>
            </li>
            <li>
              <h4>Blogs</h4>
              <p>Here you can find in our knowledge center</p>
            </li>
            <li>
              <h4>Contact Us</h4>
              <p>Get in touch to build something together</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="nav-btn inverted">
      <button class="btn menu-btn">Menu</button>
      <i class="ion-close-round"></i>
    </div>
    <nav class="navbar navbar-light text-center w-100" id="navBar">      
      <a class="navbar-brand m-0 m-auto" href="/">
        <img src="../static/img/logo.png" alt="">
      </a>
    </nav>

    <div class="social-icons inverted">
      <ul class="list-unstyled pl-4">
        <li><a href="https://www.instagram.com/mdrifttech/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
        <li><a href="https://twitter.com/mDriftGlobal/" target="_blank"><i class="ion-social-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/mDriftTechnologiesIndia/" target="_blank"><i class="ion-social-facebook"></i></a></li>
      </ul>
    </div>
    <div class="page contact">
        <div class="container-fluid">
          <div class="row">
            <div class="overlay-bg col-lg-6 order-1 order-lg-0">
              <div class="address-section">
                <div class="ad-cation float-md-right text-md-right w-100">
                  <h2>SINGAPORE </h2>
                  <h4 class="float-md-right">mDrift Technologies (S) PTE LTD,<br>
                    #71 Dunlop Street, Singapore - 209399<br>
                    Contact: +6591364308
                  </h4>
                  <!-- <h4>Dunolp Street, 209399</h4> -->
                </div>
                
                <div class="clearfix"></div>
              </div>
              <div class="address-section">
                <div class="ad-cation float-md-left w-100">
                  <h2>CANADA</h2>
                  <h4 class="float-md-left">mDrift Technologies Pvt Ltd,<br>
                    3692 Ellengale Drive, Mississauga, ON, L5C1Z7<br>
                    Contact: +1-647-673-6702
                  </h4>                  
                </div>
                
                <div class="clearfix"></div>
              </div>
              <div class="address-section">
                <div class="ad-cation float-md-right text-md-right w-100">
                  <h2>BENGALURU <span>HEAD OFFICE</span></h2>
                  <h4 class="float-md-right">mDrift Technologies Pvt Ltd,<br>
                    #345, 17th Cross, Dollars Colony,<br>
                    New BEL Road, Bangalore, India - 560094<br>
                    Contact: +91 7025143544, +91 8197368811
                  </h4>
                  <!-- <h4>Dollars Colony, India</h4> -->
                </div>
                
                <div class="clearfix"></div>
              </div>
              <div class="address-section">
                <div class="ad-cation float-md-left text-md-left">
                  <h2>KOCHI <span>DELIVERY CENTER</span></h2>
                  <h4 class="float-md-left">mDrift Technologies Pvt Ltd, 
                    #16, Second floor, Geo Infopark,
                    Kakkanad, Kerala - 682030<br>
                    Contact: +91 484 4035366, +91 7025143544
                  </h4>
                </div>
                 <div class="clearfix"></div>
              </div>
              <div class="address-section">
                <div class="ad-cation float-md-right text-md-right w-100">
                  <h2>UNITED STATES OF AMERICA</span></h2>
                  <h4 class="float-md-right">Real Time Technology Services (Partner),<br>
                    375 Friars Head Drive Suwanee, GA 30024<br>
                    Contact: 1(404)518-9095
                  </h4>
                  <!-- <h4>Dollars Colony, India</h4> -->
                </div>                
                <div class="clearfix"></div>
              </div>
              <div class="address-section">
                <div class="ad-cation float-md-left text-md-left w-100">
                  <h2>UNITED KINGDOM</h2>
                  <h4 class="float-md-left">Atrion Consulting Solution (Partner)<br>
                    20-22 Wenlock Road, London, N1 7GU,<br>
                    Contact: +44-20-76085534
                  </h4>                  
                </div>                
                <div class="clearfix"></div>
              </div>
              <div class="address-section">
                <div class="ad-cation float-md-right text-md-right w-100">
                  <h2>KENYA</span></h2>
                  <h4 class="float-md-right">Backup International (Partner)<br>
                    4th Lane Apartments, Jalaram Rd, Kenya<br>
                    Contact: +254 722 510282
                  </h4>
                  <!-- <h4>Dollars Colony, India</h4> -->
                </div>                
                <div class="clearfix"></div>
              </div>
              <div class="address-section">
                <div class="ad-cation float-md-left text-md-left w-100">
                  <h2>DUBAI</h2>
                  <h4 class="float-md-left">Smart Link (Partner)<br>
                    PO Box 53393, 706, Fifty One Tower, Dubai, U.A.E,<br>
                    Contact: +971-52-9568888
                  </h4>                  
                </div>                
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="col-lg-6 pb-5">
                <div class="page-caption">
                    <h1>Contact Us</h1>
                    <p>Describe your project and leave us your contact info, we'll get back to you within 24 hours </p>
                  </div>
              <div class="contact-form mb-80">
                <form  action="{% pageurl page %}" method="POST">
                    {% csrf_token %}
                    
                    {% for field in form %}
                    <div class="form-group">
                      {{ field.label_tag }}
                      {% render_field field class+="form-control" %}
                     
                    </div>
                  {% endfor %}
                    
                  <div class="row flex-row-reverse">
                    <button type="submit" class="btn btn-primary float-right rounded-0">
                        <i class="ion-paper-airplane"></i> Send Message</button>
                  </div>
                  <div class="row">
                    <div class="alert alert-success w-100 mt-4 mb-0 d-none" role="alert" id="msgBox"></div>
                  </div>
                </form>
            </div>

            </div>
          </div>
        </div>          
    </div>






   
     
          
     
      
      <footer>
        <div class="container-fluid">
          <div class="row mobile-footer">
            <a href="/contact-form/" class="btn btn-outline-dark d-flex float-left">Contact Us</a>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="align-items-center col-5 p-0 d-lg-flex d-sm-block justify-content-center">
              <p class="m-0 cpyrht">Copyright 2018 mDrift Technologies</p>
              <a href="/contact-us/" class="btn btn-outline-dark d-flex float-left">Contact Us</a>
            </div>
            <div class="col-3 text-center">
              <a class="navbar-brand m-0 m-auto" href="/">
                <img src="../static/img/logo.png" alt="">
              </a>
            </div>
            <div class="col-4 m-0 m-auto">
              <ul class="list-unstyled  align-items-center mb-0 d-flex justify-content-center social-icons-bottom">
                <li class="pr-3"><a href="https://www.instagram.com/mdrifttech/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
                <li class="pr-3"><a href="https://twitter.com/mDriftGlobal/" target="_blank"><i class="ion-social-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/mDriftTechnologiesIndia/" target="_blank"><i class="ion-social-facebook"></i></a></li>
              </ul>  
            </div>
          </div>
        </div>
      </footer>
    </div>
{% include "all_js.html" %}
</body>
</html>
    