<!doctype html>
{% load wagtailcore_tags wagtailimages_tags %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{self.meta_content}}">

    <link rel="shortcut icon" href='/static/img/logo.png'>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link rel="stylesheet" href="/static/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    
    <title>{{ self.header_title }}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133923308-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-133923308-1');
    </script>

  </head>


<body class="intro">

  <div class="loader"></div>


    <div id="mainNav" class="sidenav d-flex align-items-center">
      <div class="w-100 d-flex align-items-end">
        <ul class="list-unstyled mb-0 w-100">
          <li><a href="/">HOME</a></li>
          <li><a href="/projects/">PROJECTS</a></li>
          <li><a href="/about-us/">ABOUT US</a></li>
          <li><a href="/technologies/">TECHNOLOGIES</a></li>
          <li><a href="/blogs/">BLOGS</a></li>
          <li><a href="/contact-us/">CONTACT US</a></li>
        </ul>
        <div class="page-description">
          <ul>
            <li>
              <h4>Our Home</h4>
              <p>View a brief about our company and what we can do</p>
            </li>
            <li>
              <h4>Projects</h4>
              <p>A showcase of the best projects we have executed so far</p>
            </li>
            <li>
              <h4>About Us</h4>
              <p>Learn more about what we have to offer, what drives us and who we are</p>
            </li>
            <li>
              <h4>Technologies</h4>
              <p>Just some of the technologies that we use and apply everyday</p>
            </li>
            <li>
              <h4>Blogs</h4>
              <p>Here you can find in our knowledge center</p>
            </li>
            <li>
              <h4>Contact Us</h4>
              <p>Get in touch to build something together</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="nav-btn inverted">
      <button class="btn menu-btn">Menu</button>
      <i class="ion-close-round"></i>
    </div>
    <nav class="navbar navbar-light text-center w-100" id="navBar">      
      <a class="navbar-brand m-0 m-auto" href="/">
        <img src="/static/img/logo.png" alt="">
      </a>
    </nav>

    <div class="social-icons inverted">
      <ul class="list-unstyled pl-4">
        <li><a href="https://www.instagram.com/mdrifttech/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
        <li><a href="https://twitter.com/mDriftGlobal/" target="_blank"><i class="ion-social-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/mDriftTechnologiesIndia/" target="_blank"><i class="ion-social-facebook"></i></a></li>
      </ul>
    </div>
    <div class="page about-us">  
      <section class="banner">
        <div class="particles" id="particles-js"></div>
        <div class="particles-cont">
          <div class="container">
            <div class="row align-items-end">
              <div class="col-md-8">
                <h1 style="font-size:50px; color: white;"><span style="font-size: 42px;">Blogs</span><br><br>{{self.title}}</h1>
              </div>
              <div class="col-md-4">
                <div class="text-md-right mt-4 mt-md-0 about-right-elm">
                  <h4>mDrift Technologies</h4>
                  <a href="mailto:info@mdrift.com">info@mdrift.com</a>
                </div>
              </div>
  
            </div>
          </div>
        </div>
      </section>
    
      <section class="team-exp">
        <div class="saasbox--blog--area section-padding-120">
          <div class="container">
            <div class="row">
              <div class="col-2 sidebar-blog">
                <div id="toc_container">
                  <p><u>LATEST BLOGS</u></p>
                      {% for post in page.posts %}
                        <ul class="toc_list">
                            <li><a href="{{ post.url }}">{{ post.title }}</a></li><hr>
                        </ul>
                      {% endfor %}
                </div>
              </div>
              {% image self.blog_detail_image fill-800x400 as blog_img %}
              <div class="col-10">
                <div class="single-blog-details-area">
                  <img class="post-thumbnail mb-5" src="{{ blog_img.url }}" alt="Why Asset Tracking Software Is Good for Restaurant Business">
                  <div class="post-date mb-2">{{ self.date }}</div>
                  <p>{{self.content}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="clearfix"></div>

      

      
      

      <div class="clearfix"></div>
      
      
      <footer>
        <div class="container-fluid">
          <div class="row mobile-footer">
            <a href="/contact-us/" class="btn btn-outline-dark d-flex float-left">Contact Us</a>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="align-items-center col-5 p-0 d-lg-flex d-sm-block justify-content-center">
              <p class="m-0 cpyrht">Copyright 2018 mDrift Technologies</p>
              <a href="/contact-us/" class="btn btn-outline-dark d-flex float-left">Contact Us</a>
            </div>
            <div class="col-3 text-center">
              <a class="navbar-brand m-0 m-auto" href="/">
                <img src="/static/img/logo.png" alt="">
              </a>
            </div>
            <div class="col-4 m-0 m-auto">
              <ul class="list-unstyled  align-items-center mb-0 d-flex justify-content-center social-icons-bottom">
                <li class="pr-3"><a href="https://www.instagram.com/mdrifttech/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
                <li class="pr-3"><a href="https://twitter.com/mDriftGlobal/" target="_blank"><i class="ion-social-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/mDriftTechnologiesIndia/" target="_blank"><i class="ion-social-facebook"></i></a></li>
              </ul>  
            </div>
          </div>
        </div>
      </footer>
    </div>

    {% include "all_js.html" %}
</body>
</html>
    